In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
from mpmath_integration import quad_phi

In [31]:
instance = 'instances/instances_x_eq_mu_small.csv'

In [32]:
df = pd.read_csv(instance)

In [33]:
df

        alpha      beta     delta        mpmath         scipy           gnp
0    5.118265  2.158681  5.423311  1.174085e-02  1.174085e-02  1.174085e-02
1    9.504642  0.252025  9.678838  3.997468e-01  3.997468e-01  3.997468e-01
2    1.441682  0.243133  7.047854  2.969529e-01  2.969529e-01  2.969529e-01
3    9.486500  7.105027  5.452298  1.904392e-09  1.904392e-09  1.904392e-09
4    3.118383  0.264554  4.636804  3.744105e-01  3.744105e-01  3.744105e-01
..        ...       ...       ...           ...           ...           ...
495  9.296089  5.255570  9.086277  2.798839e-08  2.798839e-08  2.798839e-08
496  8.734815  8.180629  9.129123  1.521561e-24  1.521561e-24  1.521561e-24
497  1.355296  0.026738  7.711579  4.748602e-01  4.748602e-01  4.748602e-01
498  7.918022  6.848551  1.185698  1.288046e-03  1.288046e-03  1.288046e-03
499  6.753495  6.493811  5.617133  7.416740e-14  7.416740e-14  7.416740e-14

[500 rows x 6 columns]

In [34]:
df.loc[df['scipy'] == 'NAN', 'scipy'] = np.NaN
df['scipy'] = df['scipy'].astype(float)

In [35]:
df['relerr_gnp'] = np.absolute(df['gnp'] / df['mpmath'] - 1)
df['abs_gnp'] = np.absolute(df['gnp'] - df['mpmath'])

In [36]:
df['relerr_scipy'] = np.absolute(df['scipy'] / df['mpmath'] - 1)
df['abs_scipy'] = np.absolute(df['scipy'] - df['mpmath'])

In [37]:
df[['alpha', 'beta', 'delta']].describe()

            alpha        beta       delta
count  500.000000  500.000000  500.000000
mean     4.916727    2.527816    5.077218
std      2.867965    2.140891    2.861392
min      0.020668    0.004448    0.001060
25%      2.575766    0.701645    2.504889
50%      4.781067    1.995258    5.151010
75%      7.510335    4.021535    7.499014
max      9.990259    9.429234    9.997911

In [91]:
mask_inf = df['relerr_gnp'] == np.inf
mask_nan = (df['relerr_gnp'].isna() & (df['mpmath'] != df['gnp']) & (df['mpmath'] != 0))

mask_err = df['relerr_gnp'] > 1e-14

In [92]:
mask_inf.sum(), mask_nan.sum()

(0, 0)

In [93]:
df[mask_inf]

Empty DataFrame
Columns: [alpha, beta, delta, mpmath, scipy, gnp, relerr_gnp, abs_gnp, relerr_scipy, abs_scipy]
Index: []

In [94]:
df[mask_err]

,alpha,beta,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,relerr_scipy,abs_scipy
496,8.734815,8.180629,9.129123,1.521561e-24,1.521561e-24,1.521561e-24,1.043610e-14,1.597938e-38,5.811190e-10,8.842080e-34

In [28]:
idx = 5
df[mask_err].iloc[idx].mpmath, df[mask_err].iloc[idx].gnp

(8.628676678948319e-36, 0.0)

In [29]:
alpha, beta, delta = df[mask_err].iloc[idx][['alpha', 'beta', 'delta']]
alpha, beta, delta

(32.97384191819271, 7.715442910951418, 84.44676248168926)

In [30]:
mp_result = quad_phi(0, alpha, beta, 0, delta, digits=300)
mp_result

mpf('0.0000000000000000000000000000000000086286766789483182353768240642949825439811790302279161266429921480892864108579433720159049435993572747040062484158515541502803935619234869347166826001129893115316790427377811802088545485565238671197202717801602694309628412850055080502307416422788598334190996122729116826001947513122350918087505352397317879919002571334751449304243624708779131544008531798485453120104610337073703592501759938821340298359998652075845306457994893713896952756533801805115671239061130905113849356811012024373632800815925731406')