In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
from mpmath_integration import quad_phi

In [21]:
instance = 'instances/instances_beta_eq_zero_algo.csv'
instance = '../code/tests/results/test_beta_eq_zero_small.csv'
instance = '../code/tests/results/test_beta_eq_zero_large.csv'
instance = '../code/tests/results/test_x_eq_mu_small.csv'
instance = '../code/tests/results/test_x_eq_mu_large.csv'
# instance = '../code/tests/results/test_x_eq_mu_large_mpmath_accurate.csv'
# instance = 'instances/instances_beta_eq_zero_asymp_xmu.csv'

In [22]:
df = pd.read_csv(instance)

In [23]:
df

,x,alpha,beta,mu,delta,mpmath,scipy,gnp
0,0.0,25.591569,-23.437357,0.0,28.606722,1.000000e+00,1.000000e+00,1.000000e+00
1,0.0,47.523234,22.157345,0.0,1.566046,1.764202e-05,1.764202e-05,1.764202e-05
2,0.0,7.208836,-5.907231,0.0,7.265633,1.000000e+00,1.000000e+00,1.000000e+00
3,0.0,47.432524,-37.068236,0.0,41.218698,1.000000e+00,1.000000e+00,1.000000e+00
4,0.0,15.592261,4.273286,0.0,16.904493,3.552166e-06,3.552166e-06,3.552166e-06
...,...,...,...,...,...,...,...,...
4995,0.0,17.431672,-1.717383,0.0,25.381044,9.809714e-01,9.809714e-01,9.809714e-01
4996,0.0,28.849511,7.580757,0.0,41.400421,2.567743e-20,2.601253e-20,2.567743e-20
4997,0.0,37.553815,-28.773558,0.0,45.505267,1.000000e+00,1.000000e+00,1.000000e+00
4998,0.0,23.475216,-8.451586,0.0,14.747297,1.000000e+00,1.000000e+00,1.000000e+00
4999,0.0,43.084129,-1.596505,0.0,18.315402,8.510482e-01,8.510482e-01,8.510482e-01

In [24]:
df['scipy'].describe()

count    5.000000e+03
mean     4.871160e-01
std      4.786437e-01
min      0.000000e+00
25%      2.503662e-21
50%      3.846235e-01
75%      1.000000e+00
max      1.000000e+00
Name: scipy, dtype: float64

In [25]:
df.loc[df['scipy'] == 'NAN', 'scipy'] = np.NaN
df['scipy'] = df['scipy'].astype(float)

df.loc[df['gnp'] == 'NAN', 'gnp'] = np.NaN
df['gnp'] = df['gnp'].astype(float)

In [26]:
df['relerr_gnp'] = np.absolute(df['gnp'] / df['mpmath'] - 1)
df['abs_gnp'] = np.absolute(df['gnp'] - df['mpmath'])

In [27]:
df['relerr_scipy'] = np.absolute(df['scipy'] / df['mpmath'] - 1)
df['abs_scipy'] = np.absolute(df['scipy'] - df['mpmath'])

In [28]:
df['da'] = df['delta'] * df['alpha']

In [29]:
df[['x', 'alpha', 'mu', 'delta', 'da']].describe()

            x        alpha      mu        delta           da
count  5000.0  5000.000000  5000.0  5000.000000  5000.000000
mean      0.0    24.873744     0.0    24.681219   611.229798
std       0.0    14.447806     0.0    14.411437   543.403863
min       0.0     0.005802     0.0     0.001567     0.024599
25%       0.0    12.501366     0.0    12.202094   164.028735
50%       0.0    24.817868     0.0    24.412502   456.560944
75%       0.0    37.542137     0.0    37.420243   923.731095
max       0.0    49.989557     0.0    49.988874  2459.552705

In [30]:
mask_inf = df['relerr_gnp'] == np.inf
mask_nan = (df['relerr_gnp'].isna() & (df['mpmath'] != df['gnp']) & (df['mpmath'] != 0))

mask_err = (df['relerr_gnp'] > 5e-13) | mask_nan

In [31]:
mask_inf.sum(), mask_nan.sum()

(94, 0)

In [32]:
np.count_nonzero(~mask_err)

4384

In [33]:
df[mask_inf]

,x,alpha,beta,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,relerr_scipy,abs_scipy,da
78,0.0,41.341440,37.456725,0.0,49.450733,0.0,0.0,-1.0,inf,1.0,NaN,0.0,2044.364504
108,0.0,49.807063,45.324792,0.0,26.643069,0.0,0.0,-1.0,inf,1.0,NaN,0.0,1327.013023
190,0.0,40.301979,36.245981,0.0,43.222595,0.0,0.0,-1.0,inf,1.0,NaN,0.0,1741.956139
193,0.0,38.039678,30.982581,0.0,48.257370,0.0,0.0,-1.0,inf,1.0,NaN,0.0,1835.694844
208,0.0,39.138241,38.282628,0.0,37.909754,0.0,0.0,-1.0,inf,1.0,NaN,0.0,1483.721059
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4781,0.0,43.312128,39.832643,0.0,30.281217,0.0,0.0,-1.0,inf,1.0,NaN,0.0,1311.543959
4788,0.0,36.276907,35.559941,0.0,44.648656,0.0,0.0,-1.0,inf,1.0,NaN,0.0,1619.715119
4904,0.0,39.444488,37.862780,0.0,48.961378,0.0,0.0,-1.0,inf,1.0,NaN,0.0,1931.256447
4909,0.0,48.604457,47.258712,0.0,20.453185,0.0,0.0,-1.0,inf,1.0,NaN,0.0,994.115928
4965,0.0,34.211003,33.888863,0.0,33.581188,0.0,0.0,-1.0,inf,1.0,NaN,0.0,1148.846126

In [34]:
df[mask_nan].describe()

,x,alpha,beta,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,relerr_scipy,abs_scipy,da
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
mask_err.sum(), (df['relerr_gnp'] > 1e-11).sum()

(616, 605)

In [36]:
df[mask_nan].sort_values('relerr_gnp', ascending=False).head(20)

Empty DataFrame
Columns: [x, alpha, beta, mu, delta, mpmath, scipy, gnp, relerr_gnp, abs_gnp, relerr_scipy, abs_scipy, da]
Index: []

In [37]:
case = df[mask_inf].sort_values('relerr_gnp', ascending=False).iloc[5].to_dict()
case

{'x': 0.0,
 'alpha': 31.00175927748506,
 'beta': 29.187326627161823,
 'mu': 0.0,
 'delta': 40.09846542163678,
 'mpmath': 0.0,
 'scipy': 0.0,
 'gnp': -1.0,
 'relerr_gnp': inf,
 'abs_gnp': 1.0,
 'relerr_scipy': nan,
 'abs_scipy': 0.0,
 'da': 1243.1229723981419}

In [38]:
mp_result = quad_phi(case['x'], case['alpha'], case['beta'], case['mu'], case['delta'], digits=300)
float(mp_result)

0.0

In [39]:
df[~mask_err].sort_values('relerr_gnp', ascending=False).head()

,x,alpha,beta,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,relerr_scipy,abs_scipy,da
1144,0.0,27.079431,6.573447,0.0,7.948143,0.000168,0.000168,0.000168,4.805045e-13,8.063754e-17,6.115108e-13,1.026197e-16,215.231181
3135,0.0,30.880589,3.937367,0.0,26.331454,0.000135,0.000135,0.000135,4.667378e-13,6.296504e-17,4.818368e-13,6.499792e-17,813.130812
4671,0.0,5.314726,1.326360,0.0,37.398745,0.000197,0.000197,0.000197,4.594103e-13,9.039536e-17,5.422329e-13,1.067126e-16,198.764079
3604,0.0,2.703871,2.475305,0.0,4.058793,0.000175,0.000175,0.000175,4.545253e-13,7.947202e-17,4.511946e-13,7.890281e-17,10.974454
243,0.0,29.976624,4.436675,0.0,19.750937,0.000153,0.000153,0.000153,4.494183e-13,6.868421e-17,4.460876e-13,6.816921e-17,592.066418

In [40]:
df.describe()

,x,alpha,beta,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,relerr_scipy,abs_scipy,da
count,5000.0,5000.000000,5000.000000,5000.0,5000.000000,5.000000e+03,5.000000e+03,5.000000e+03,5.000000e+03,5.000000e+03,4.913000e+03,5.000000e+03,5000.000000
mean,0.0,24.873744,0.557770,0.0,24.681219,4.871160e-01,4.871160e-01,4.401160e-01,inf,4.700000e-02,inf,1.222578e-12,611.229798
std,0.0,14.447806,16.766425,0.0,14.411437,4.786437e-01,4.786437e-01,5.382302e-01,NaN,2.735068e-01,NaN,4.397369e-11,543.403863
min,0.0,0.005802,-48.288428,0.0,0.001567,0.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.024599
25%,0.0,12.501366,-8.219542,0.0,12.202094,2.502492e-21,2.503662e-21,1.623803e-24,2.220446e-16,1.252043e-102,1.065814e-14,1.869724e-27,164.028735
50%,0.0,24.817868,0.191428,0.0,24.412502,3.846235e-01,3.846235e-01,2.317116e-01,8.881784e-16,4.632211e-22,5.928591e-14,8.881784e-16,456.560944
75%,0.0,37.542137,9.967034,0.0,37.420243,1.000000e+00,1.000000e+00,1.000000e+00,1.143530e-14,3.330669e-16,1.357318e-04,1.856848e-14,923.731095
max,0.0,49.989557,49.057855,0.0,49.988874,1.000000e+00,1.000000e+00,1.000000e+00,inf,2.000000e+00,inf,2.550442e-09,2459.552705

In [41]:
df['abs_xmu'] = abs(df['x'] - df['mu'])

In [42]:
df[~mask_inf].describe()

,x,alpha,beta,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,relerr_scipy,abs_scipy,da,abs_xmu
count,4906.0,4906.000000,4906.000000,4906.0,4906.000000,4.906000e+03,4.906000e+03,4.906000e+03,4.906000e+03,4.906000e+03,4.906000e+03,4.906000e+03,4906.000000,4906.0
mean,0.0,24.575965,-0.136943,0.0,24.383921,4.964493e-01,4.964493e-01,4.658745e-01,1.162739e+49,3.057481e-02,8.924816e+48,1.246003e-12,592.182601,0.0
std,0.0,14.378501,16.119635,0.0,14.354393,4.783888e-01,4.783888e-01,5.082172e-01,6.432216e+50,2.454120e-01,4.832734e+50,4.439272e-11,528.092141,0.0
min,0.0,0.005802,-48.288428,0.0,0.001567,9.881313e-324,1.557551e-316,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.024599,0.0
25%,0.0,12.187463,-8.576351,0.0,12.011298,5.300764e-19,5.348902e-19,1.787867e-21,2.220446e-16,3.530966e-105,1.065814e-14,4.589110e-25,159.924850,0.0
50%,0.0,24.291615,0.047324,0.0,23.910703,4.633960e-01,4.633960e-01,3.201360e-01,8.881784e-16,1.356576e-22,5.900835e-14,1.054712e-15,441.217775,0.0
75%,0.0,37.072682,9.253944,0.0,36.959562,1.000000e+00,1.000000e+00,1.000000e+00,9.992007e-15,2.220446e-16,1.149086e-04,1.953993e-14,888.962665,0.0
max,0.0,49.989557,48.171976,0.0,49.988874,1.000000e+00,1.000000e+00,1.000000e+00,4.347535e+52,2.000000e+00,3.222037e+52,2.550442e-09,2459.552705,0.0

In [43]:
idx = 0
df[mask_err].iloc[idx].mpmath, df[mask_err].iloc[idx].gnp, df[mask_err].iloc[idx].scipy

(2.0361350322498377e-104, 1.0104234819793628e-89, 1.010714496542623e-89)

In [44]:
df[mask_err]

,x,alpha,beta,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,relerr_scipy,abs_scipy,da,abs_xmu
5,0.0,21.166899,14.632105,0.0,34.243950,2.036135e-104,1.010714e-89,1.010423e-89,4.962458e+14,1.010423e-89,4.963887e+14,1.010714e-89,724.838230,0.0
15,0.0,22.675441,14.972035,0.0,33.571727,2.308860e-109,1.060742e-84,1.060891e-84,4.594870e+24,1.060891e-84,4.594222e+24,1.060742e-84,761.253715,0.0
22,0.0,24.260064,23.017621,0.0,31.218983,5.035725e-237,1.324538e-227,1.489256e-227,2.957383e+09,1.489256e-227,2.630283e+09,1.324538e-227,757.374518,0.0
34,0.0,30.650552,28.002531,0.0,30.801800,6.770393e-245,5.546299e-246,7.081262e-246,8.954084e-01,6.062267e-245,9.180801e-01,6.215763e-245,944.092168,0.0
36,0.0,1.980604,0.922419,0.0,29.842461,1.165065e-04,1.165065e-04,1.165065e-04,6.685763e-13,7.788637e-17,6.661338e-13,7.760177e-17,59.106105,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4931,0.0,27.368279,19.497553,0.0,34.849662,4.538182e-137,4.808992e-126,5.255198e-126,1.157996e+11,5.255198e-126,1.059674e+11,4.808992e-126,953.775270,0.0
4950,0.0,47.474300,22.090738,0.0,35.129723,1.036706e-117,1.143941e-85,1.348710e-85,1.300957e+32,1.348710e-85,1.103438e+32,1.143941e-85,1667.759004,0.0
4961,0.0,33.102998,-32.618508,0.0,28.698185,1.000000e+00,1.000000e+00,-1.000000e+00,2.000000e+00,2.000000e+00,1.352252e-13,1.352252e-13,949.995970,0.0
4965,0.0,34.211003,33.888863,0.0,33.581188,0.000000e+00,0.000000e+00,-1.000000e+00,inf,1.000000e+00,NaN,0.000000e+00,1148.846126,0.0
4981,0.0,40.414363,33.272050,0.0,39.297911,4.823066e-300,3.386526e-301,7.409589e-301,8.463718e-01,4.082107e-300,9.297848e-01,4.484413e-300,1588.200026,0.0

In [ ]:
x, alpha, beta, mu, delta = df[mask_err].iloc[idx][['x', 'alpha', 'beta', 'mu', 'delta']]
x, alpha, beta, mu, delta

In [ ]:
mp_result = quad_phi(x, alpha, beta, mu, delta, digits=300)
mp_result

#### 1. Decision tree (test for more complex cases)

In [45]:
from sklearn import tree

In [46]:
df['target'] = (~mask_err).astype(int)

In [47]:
df.head()

,x,alpha,beta,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,relerr_scipy,abs_scipy,da,abs_xmu,target
0,0.0,25.591569,-23.437357,0.0,28.606722,1.000000,1.000000,1.000000,0.000000e+00,0.000000e+00,2.708944e-14,2.708944e-14,732.090924,0.0,1
1,0.0,47.523234,22.157345,0.0,1.566046,0.000018,0.000018,0.000018,9.992007e-16,1.694066e-20,1.509903e-14,2.676624e-19,74.423556,0.0,1
2,0.0,7.208836,-5.907231,0.0,7.265633,1.000000,1.000000,1.000000,2.220446e-15,2.220446e-15,1.332268e-15,1.221245e-15,52.376758,0.0,1
3,0.0,47.432524,-37.068236,0.0,41.218698,1.000000,1.000000,1.000000,0.000000e+00,0.000000e+00,7.206880e-11,7.206880e-11,1955.106884,0.0,1
4,0.0,15.592261,4.273286,0.0,16.904493,0.000004,0.000004,0.000004,1.221245e-15,4.235165e-21,1.840750e-13,6.534859e-19,263.579266,0.0,1

In [48]:
df.describe()

,x,alpha,beta,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,relerr_scipy,abs_scipy,da,abs_xmu,target
count,5000.0,5000.000000,5000.000000,5000.0,5000.000000,5.000000e+03,5.000000e+03,5.000000e+03,5.000000e+03,5.000000e+03,4.913000e+03,5.000000e+03,5000.000000,5000.0,5000.0000
mean,0.0,24.873744,0.557770,0.0,24.681219,4.871160e-01,4.871160e-01,4.401160e-01,inf,4.700000e-02,inf,1.222578e-12,611.229798,0.0,0.8768
std,0.0,14.447806,16.766425,0.0,14.411437,4.786437e-01,4.786437e-01,5.382302e-01,NaN,2.735068e-01,NaN,4.397369e-11,543.403863,0.0,0.3287
min,0.0,0.005802,-48.288428,0.0,0.001567,0.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.024599,0.0,0.0000
25%,0.0,12.501366,-8.219542,0.0,12.202094,2.502492e-21,2.503662e-21,1.623803e-24,2.220446e-16,1.252043e-102,1.065814e-14,1.869724e-27,164.028735,0.0,1.0000
50%,0.0,24.817868,0.191428,0.0,24.412502,3.846235e-01,3.846235e-01,2.317116e-01,8.881784e-16,4.632211e-22,5.928591e-14,8.881784e-16,456.560944,0.0,1.0000
75%,0.0,37.542137,9.967034,0.0,37.420243,1.000000e+00,1.000000e+00,1.000000e+00,1.143530e-14,3.330669e-16,1.357318e-04,1.856848e-14,923.731095,0.0,1.0000
max,0.0,49.989557,49.057855,0.0,49.988874,1.000000e+00,1.000000e+00,1.000000e+00,inf,2.000000e+00,inf,2.550442e-09,2459.552705,0.0,1.0000

In [49]:
df['omega'] = np.sqrt(df['delta'] ** 2 + (df['x'] - df['mu']) ** 2)
df['aw'] = df['alpha'] * df['omega']
df['xmu'] = df['x'] - df['mu']
df['xmu2'] = df['xmu'] ** 2
df['aow'] = df['alpha'] / df['omega']
df['woa'] = df['omega'] / df['alpha']
df['da'] = df['delta'] * df['alpha']

In [50]:
df['method'] = 'integration'

# criteria_asymp_xmu = (df['xmu2'] >= 70) & (df['aow'] >= 1.0)
# df.loc[criteria_asymp_xmu, 'method'] = 'asymptotic_xmu'

# criteria_asymp_a = (df['xmu2'] <= 2.5) & (df['da'] >= 200) & (df['alpha'] >= 5) & (df['delta'] >= 10)
# df.loc[criteria_asymp_a, 'method'] = 'asymptotic_alpha'

# criteria1 = (df['xmu'].abs() <= 20) & (df['aow'] <= 0.25) & (df['delta'] >= 2.0 * df['xmu'].abs())
# criteria2 = (df['xmu2'] <= 1.25) & (df['aw'] <= 750)
# criteria3 = (df['delta'] >= 1)

# df.loc[(criteria1 | criteria2) & criteria3, 'method'] = 'series'

In [51]:
df['target'] = (~mask_err).astype(int)
df['rba'] = df['beta'] / df['alpha']
df['method'] = 'integration'




criteria1 = (df['alpha'] <= 10.0) & (df['delta'] <= 10.0)
criteria2 = (df['beta'] <= 1.5) & (df['rba'] <= 0.9)
df.loc[criteria1 & criteria2, 'method'] = 'series'

In [52]:
df

,x,alpha,beta,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,...,abs_xmu,target,omega,aw,xmu,xmu2,aow,woa,method,rba
0,0.0,25.591569,-23.437357,0.0,28.606722,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,...,0.0,1,28.606722,732.090924,0.0,0.0,0.894600,1.117818,integration,-0.915823
1,0.0,47.523234,22.157345,0.0,1.566046,1.764202e-05,1.764202e-05,1.764202e-05,9.992007e-16,1.694066e-20,...,0.0,1,1.566046,74.423556,0.0,0.0,30.346008,0.032953,integration,0.466242
2,0.0,7.208836,-5.907231,0.0,7.265633,1.000000e+00,1.000000e+00,1.000000e+00,2.220446e-15,2.220446e-15,...,0.0,1,7.265633,52.376758,0.0,0.0,0.992183,1.007879,series,-0.819443
3,0.0,47.432524,-37.068236,0.0,41.218698,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,...,0.0,1,41.218698,1955.106884,0.0,0.0,1.150753,0.868997,integration,-0.781494
4,0.0,15.592261,4.273286,0.0,16.904493,3.552166e-06,3.552166e-06,3.552166e-06,1.221245e-15,4.235165e-21,...,0.0,1,16.904493,263.579266,0.0,0.0,0.922374,1.084159,integration,0.274065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,0.0,17.431672,-1.717383,0.0,25.381044,9.809714e-01,9.809714e-01,9.809714e-01,3.330669e-16,3.330669e-16,...,0.0,1,25.381044,442.434037,0.0,0.0,0.686799,1.456030,integration,-0.098521
4996,0.0,28.849511,7.580757,0.0,41.400421,2.567743e-20,2.601253e-20,2.567743e-20,2.220446e-15,5.416678e-35,...,0.0,1,41.400421,1194.381921,0.0,0.0,0.696841,1.435048,integration,0.262769
4997,0.0,37.553815,-28.773558,0.0,45.505267,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,...,0.0,1,45.505267,1708.896386,0.0,0.0,0.825263,1.211735,integration,-0.766195
4998,0.0,23.475216,-8.451586,0.0,14.747297,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,...,0.0,1,14.747297,346.195973,0.0,0.0,1.591832,0.628207,integration,-0.360022
4999,0.0,43.084129,-1.596505,0.0,18.315402,8.510482e-01,8.510482e-01,8.510482e-01,6.661338e-16,5.551115e-16,...,0.0,1,18.315402,789.103167,0.0,0.0,2.352344,0.425108,integration,-0.037056

In [53]:
df[df['target'] == 1].head(10)

,x,alpha,beta,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,...,abs_xmu,target,omega,aw,xmu,xmu2,aow,woa,method,rba
0,0.0,25.591569,-23.437357,0.0,28.606722,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,...,0.0,1,28.606722,732.090924,0.0,0.0,0.894600,1.117818,integration,-0.915823
1,0.0,47.523234,22.157345,0.0,1.566046,1.764202e-05,1.764202e-05,1.764202e-05,9.992007e-16,1.694066e-20,...,0.0,1,1.566046,74.423556,0.0,0.0,30.346008,0.032953,integration,0.466242
2,0.0,7.208836,-5.907231,0.0,7.265633,1.000000e+00,1.000000e+00,1.000000e+00,2.220446e-15,2.220446e-15,...,0.0,1,7.265633,52.376758,0.0,0.0,0.992183,1.007879,series,-0.819443
3,0.0,47.432524,-37.068236,0.0,41.218698,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,...,0.0,1,41.218698,1955.106884,0.0,0.0,1.150753,0.868997,integration,-0.781494
4,0.0,15.592261,4.273286,0.0,16.904493,3.552166e-06,3.552166e-06,3.552166e-06,1.221245e-15,4.235165e-21,...,0.0,1,16.904493,263.579266,0.0,0.0,0.922374,1.084159,integration,0.274065
6,0.0,41.385302,-20.021357,0.0,16.868500,1.000000e+00,1.000000e+00,1.000000e+00,2.220446e-16,2.220446e-16,...,0.0,1,16.868500,698.107979,0.0,0.0,2.453407,0.407596,integration,-0.483779
7,0.0,20.460548,0.253093,0.0,3.777149,4.567713e-01,4.567713e-01,4.567713e-01,6.661338e-16,2.775558e-16,...,0.0,1,3.777149,77.282527,0.0,0.0,5.416930,0.184606,integration,0.012370
8,0.0,27.480135,14.641766,0.0,8.305615,2.802213e-17,2.802229e-17,2.802213e-17,1.998401e-15,5.546678e-32,...,0.0,1,8.305615,228.239428,0.0,0.0,3.308621,0.302241,integration,0.532813
9,0.0,1.378928,-0.867771,0.0,1.350014,8.050188e-01,8.050188e-01,8.050188e-01,0.000000e+00,0.000000e+00,...,0.0,1,1.350014,1.861572,0.0,0.0,1.021418,0.979032,series,-0.629308
10,0.0,37.675902,-6.602158,0.0,19.238474,9.999989e-01,9.999989e-01,9.999989e-01,3.330669e-16,3.330669e-16,...,0.0,1,19.238474,724.826867,0.0,0.0,1.958362,0.510631,integration,-0.175236

In [54]:
x, alpha, mu, delta = df[df['target'] == 1].head(1)[['x', 'alpha', 'mu', 'delta']].values[0]

In [55]:
x, alpha, mu, delta

(0.0, 25.59156941338814, 0.0, 28.60672249601478)

In [56]:
df['method'][~mask_inf].value_counts()

method
integration    4779
series          127
Name: count, dtype: int64

In [57]:
df.groupby('method')[['target', 'relerr_gnp']].describe()

             target                                              relerr_gnp  \
              count      mean       std  min  25%  50%  75%  max      count
method
integration  4873.0  0.873794  0.332115  0.0  1.0  1.0  1.0  1.0     4873.0
series        127.0  0.992126  0.088736  0.0  1.0  1.0  1.0  1.0      127.0

                                                                          \
                     mean           std  min           25%           50%
method
integration           inf           NaN  0.0  2.220446e-16  8.881784e-16
series       1.082511e-14  7.268105e-14  0.0  2.220446e-16  4.440892e-16


                      75%           max
method
integration  1.199041e-14           inf
series       1.720846e-15  7.764900e-13

In [ ]:
df[~mask_err & ~mask_inf].groupby('method')[['target', 'relerr_gnp']].describe()

In [ ]:
df_integration = df[mask_err & (df['method'] == 'asymptotic_xmu')]
df_integration.describe()

In [ ]:
df_integration.sort_values('relerr_gnp', ascending=False).head(20)

In [ ]:
case = df_integration.sort_values('relerr_gnp', ascending=False).iloc[5].to_dict()
case

In [ ]:
mp_result = quad_phi(case['x'], case['alpha'], 0, case['mu'], case['delta'], digits=300)
float(mp_result)

In [ ]:
df_integration.head(10)

In [ ]:
idx = 0

In [ ]:
df_integration[df_integration.index == 820]

In [ ]:
df_integration.iloc[idx][['mpmath', 'scipy', 'gnp']].values

In [ ]:
x, alpha, mu, delta = df_integration.iloc[idx][['x', 'alpha', 'mu', 'delta']].values

In [ ]:
x, alpha, mu, delta = df_integration[df_integration.index == 820][['x', 'alpha', 'mu', 'delta']].values[0]

In [ ]:
list(df_integration[df_integration.index == 820][['mpmath', 'scipy', 'gnp']].values[0])

In [ ]:
mp_result = quad_phi(x, alpha, 0, mu, delta, digits=250)
mp_result

In [ ]:
for k, v in zip(['x', 'alpha', 'mu', 'delta'], (x, alpha, mu, delta)):
    print(f'double {k} = {v};')

In [ ]:
df[(df['xmu'].abs() > 4) & (df['aw'] > 100)]

In [ ]:
X = df.copy()
y = df['target']

X = X[['xmu2', 'woa', 'aw', 'da', 'alpha']]

In [ ]:
clf = tree.DecisionTreeClassifier(max_depth=2)
clf = clf.fit(X, y)

In [ ]:
clf.score(X, y)

In [ ]:
tree.plot_tree(clf, feature_names=X.columns, filled=True)

In [ ]:
mask_series = (df['alpha'] <= 2.425) & (df['mu'] <= 4.406)
# mask_series = ((X['xmu2'] <= 20) & (X['aow'] <= 0.25)) | ((X['xmu2'] <= 1.25) & (X['aw'] <= 750))
mask_series = (X['xmu2'] >= 70) & (X['woa'] <= 1)

In [ ]:
X.describe()

In [ ]:
df[mask_series].describe()

In [ ]:
df[mask_series][df.loc[mask_series, 'relerr_gnp'].isna()]

In [ ]:
df[X['aw'] > 750].describe()