In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
from mpmath_integration import quad_phi

In [59]:
instance = 'instances/instances_beta_eq_zero_algo.csv'
instance = '../code/tests/results/test_beta_eq_zero_small.csv'
instance = '../code/tests/results/test_beta_eq_zero_large.csv'
instance = '../code/tests/results/test_x_eq_mu_small.csv'
instance = '../code/tests/results/test_x_eq_mu_large.csv'
instance = '../code/tests/results/test_x_eq_mu_large_mpmath_accurate.csv'
# instance = 'instances/instances_beta_eq_zero_asymp_xmu.csv'

In [60]:
df = pd.read_csv(instance)

In [61]:
df

,x,alpha,beta,mu,delta,mpmath,scipy,gnp
0,0.0,21.166899,14.632105,0.0,34.243950,1.010423e-89,1.010714e-89,1.010423e-89
1,0.0,22.675441,14.972035,0.0,33.571727,1.060891e-84,1.060742e-84,1.060891e-84
2,0.0,24.260064,23.017621,0.0,31.218983,1.489256e-227,1.324538e-227,1.489256e-227
3,0.0,30.650552,28.002531,0.0,30.801800,7.081262e-246,5.546299e-246,7.081262e-246
4,0.0,1.980604,0.922419,0.0,29.842461,1.165065e-04,1.165065e-04,1.165065e-04
...,...,...,...,...,...,...,...,...
447,0.0,16.681754,16.503142,0.0,33.044818,5.899049e-207,5.811818e-207,5.899049e-207
448,0.0,39.306649,29.297959,0.0,24.970325,1.377551e-144,1.212737e-144,1.377551e-144
449,0.0,27.368279,19.497553,0.0,34.849662,5.255198e-126,4.808992e-126,5.255198e-126
450,0.0,47.474300,22.090738,0.0,35.129723,1.348710e-85,1.143941e-85,1.348710e-85
451,0.0,40.414363,33.272050,0.0,39.297911,7.409589e-301,3.386526e-301,7.409589e-301

In [62]:
df['scipy'].describe()

count     4.520000e+02
mean      5.629871e-06
std       7.079530e-05
min      1.557551e-316
25%      5.560078e-222
50%      3.622399e-151
75%      4.710646e-115
max       1.464240e-03
Name: scipy, dtype: float64

In [63]:
df.loc[df['scipy'] == 'NAN', 'scipy'] = np.NaN
df['scipy'] = df['scipy'].astype(float)

df.loc[df['gnp'] == 'NAN', 'gnp'] = np.NaN
df['gnp'] = df['gnp'].astype(float)

In [64]:
df['relerr_gnp'] = np.absolute(df['gnp'] / df['mpmath'] - 1)
df['abs_gnp'] = np.absolute(df['gnp'] - df['mpmath'])

In [65]:
df['relerr_scipy'] = np.absolute(df['scipy'] / df['mpmath'] - 1)
df['abs_scipy'] = np.absolute(df['scipy'] - df['mpmath'])

In [66]:
df['da'] = df['delta'] * df['alpha']

In [67]:
df[['x', 'alpha', 'mu', 'delta', 'da']].describe()

           x       alpha     mu       delta           da
count  452.0  452.000000  452.0  452.000000   452.000000
mean     0.0   33.180184    0.0   32.467820  1052.415249
std      0.0   10.842613    0.0   11.089376   470.879795
min      0.0    1.213683    0.0    1.125116    10.161475
25%      0.0   25.541497    0.0   23.833869   678.036802
50%      0.0   34.747388    0.0   33.051271  1009.097381
75%      0.0   42.191468    0.0   42.012789  1373.118288
max      0.0   49.965725    0.0   49.933769  2459.552705

In [68]:
mask_inf = df['relerr_gnp'] == np.inf
mask_nan = (df['relerr_gnp'].isna() & (df['mpmath'] != df['gnp']) & (df['mpmath'] != 0))

mask_err = (df['relerr_gnp'] > 5e-13) | mask_nan

In [69]:
mask_inf.sum(), mask_nan.sum()

(5, 0)

In [70]:
np.count_nonzero(~mask_err)

425

In [71]:
df[mask_inf]

,x,alpha,beta,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,relerr_scipy,abs_scipy,da
48,0.0,28.744716,25.296864,0.0,46.231944,0.0,5.782457e-306,1.051996e-305,inf,1.051996e-305,inf,5.782457e-306,1328.924108
80,0.0,48.299014,38.908918,0.0,33.642223,0.0,1.481826e-290,3.248913e-290,inf,3.248913e-290,inf,1.481826e-290,1624.886217
117,0.0,44.347638,37.998652,0.0,32.031885,0.0,9.035041e-302,1.749381e-301,inf,1.749381e-301,inf,9.035041e-302,1420.538444
279,0.0,48.888224,37.872148,0.0,38.210883,0.0,2.476937e-301,6.606701e-301,inf,6.606701e-301,inf,2.476937e-301,1868.062194
382,0.0,44.445499,38.038232,0.0,30.265995,0.0,6.645887e-285,1.181164e-284,inf,1.181164e-284,inf,6.645887e-285,1345.187259

In [72]:
df[mask_nan].describe()

,x,alpha,beta,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,relerr_scipy,abs_scipy,da
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
mask_err.sum(), (df['relerr_gnp'] > 1e-11).sum()

(27, 26)

In [74]:
df[mask_nan].sort_values('relerr_gnp', ascending=False).head(20)

Empty DataFrame
Columns: [x, alpha, beta, mu, delta, mpmath, scipy, gnp, relerr_gnp, abs_gnp, relerr_scipy, abs_scipy, da]
Index: []

In [75]:
case = df[mask_err].sort_values('relerr_gnp', ascending=False).iloc[0].to_dict()
case

{'x': 0.0,
 'alpha': 28.74471602153244,
 'beta': 25.296864320869123,
 'mu': 0.0,
 'delta': 46.231944221332135,
 'mpmath': 0.0,
 'scipy': 5.782457010934757e-306,
 'gnp': 1.0519964344985285e-305,
 'relerr_gnp': inf,
 'abs_gnp': 1.0519964344985285e-305,
 'relerr_scipy': inf,
 'abs_scipy': 5.782457010934757e-306,
 'da': 1328.92410776552}

In [76]:
mp_result = quad_phi(case['x'], case['alpha'], case['beta'], case['mu'], case['delta'], digits=300)
float(mp_result)

0.0

In [77]:
df[~mask_err].sort_values('relerr_gnp', ascending=False).head()

,x,alpha,beta,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,relerr_scipy,abs_scipy,da
293,0.0,23.443897,23.174852,0.0,28.569516,1.788230e-249,1.655864e-249,1.788230e-249,2.426948e-13,4.339339e-262,0.074021,1.323657e-250,669.780788
64,0.0,14.830873,14.811770,0.0,27.371164,8.813073e-170,8.952865e-170,8.813073e-170,2.309264e-13,2.035723e-182,0.015862,1.397921e-171,405.938270
269,0.0,34.182224,33.311944,0.0,21.072650,3.135395e-245,2.823651e-245,3.135395e-245,2.229328e-13,6.987626e-258,0.099427,3.117445e-246,720.310042
365,0.0,26.580036,25.836762,0.0,32.598333,1.621665e-290,1.295579e-290,1.621665e-290,1.889600e-13,3.064550e-303,0.201081,3.260856e-291,866.464863
101,0.0,37.602907,30.117003,0.0,42.360924,3.387780e-280,1.617067e-280,3.387780e-280,1.806333e-13,6.121129e-293,0.522677,1.770714e-280,1592.893886

In [78]:
df.describe()

,x,alpha,beta,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,relerr_scipy,abs_scipy,da
count,452.0,452.000000,452.000000,452.0,452.000000,4.520000e+02,4.520000e+02,4.520000e+02,4.520000e+02,4.520000e+02,4.520000e+02,4.520000e+02,452.000000
mean,0.0,33.180184,25.086066,0.0,32.467820,5.629871e-06,5.629871e-06,5.629871e-06,inf,2.317092e-18,inf,3.170842e-18,1052.415249
std,0.0,10.842613,8.789485,0.0,11.089376,7.079530e-05,7.079530e-05,7.079530e-05,NaN,4.921159e-17,NaN,5.190054e-17,470.879795
min,0.0,1.213683,0.922419,0.0,1.125116,0.000000e+00,1.557551e-316,0.000000e+00,0.000000e+00,0.000000e+00,3.552714e-15,9.477305e-317,10.161475
25%,0.0,25.541497,19.409146,0.0,23.833869,7.078437e-222,5.560078e-222,7.078437e-222,2.281508e-14,5.006348e-235,2.528593e-02,2.453207e-222,678.036802
50%,0.0,34.747388,25.017261,0.0,33.051271,5.040899e-151,3.622399e-151,5.040899e-151,4.046763e-14,1.353273e-164,1.403895e-01,3.764261e-152,1009.097381
75%,0.0,42.191468,30.944658,0.0,42.012789,5.296404e-115,4.710646e-115,5.296404e-115,6.575296e-14,1.242034e-128,2.922736e-01,2.222969e-116,1373.118288
max,0.0,49.965725,47.323724,0.0,49.933769,1.464240e-03,1.464240e-03,1.464240e-03,inf,1.046255e-15,inf,1.061353e-15,2459.552705

In [79]:
df['abs_xmu'] = abs(df['x'] - df['mu'])

In [80]:
df[~mask_inf].describe()

,x,alpha,beta,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,relerr_scipy,abs_scipy,da,abs_xmu
count,447.0,447.000000,447.000000,447.0,447.000000,4.470000e+02,4.470000e+02,4.470000e+02,4.470000e+02,4.470000e+02,4.470000e+02,4.470000e+02,447.000000,447.0
mean,0.0,33.070958,24.968204,0.0,32.427453,5.692845e-06,5.692845e-06,5.692845e-06,3.067900e+37,2.343011e-18,1.786483e+37,3.206310e-18,1047.212739,0.0
std,0.0,10.825628,8.749981,0.0,11.128259,7.118850e-05,7.118850e-05,7.118850e-05,4.869480e+38,4.948606e-17,2.854274e+38,5.218956e-17,470.417333,0.0
min,0.0,1.213683,0.922419,0.0,1.125116,9.881313e-324,1.557551e-316,0.000000e+00,0.000000e+00,0.000000e+00,3.552714e-15,9.477305e-317,10.161475,0.0
25%,0.0,25.308242,19.352069,0.0,23.770425,2.563307e-217,2.164664e-217,2.563307e-217,2.259304e-14,1.617018e-230,2.474518e-02,3.986429e-218,674.619807,0.0
50%,0.0,34.643419,24.807223,0.0,33.044818,5.755746e-151,5.423150e-151,5.755746e-151,4.007905e-14,2.238496e-164,1.357574e-01,7.806253e-152,999.661269,0.0
75%,0.0,41.771800,30.685593,0.0,42.046776,1.009176e-114,1.003045e-114,1.009176e-114,6.528111e-14,1.478719e-128,2.838827e-01,4.810740e-116,1369.243954,0.0
max,0.0,49.965725,47.323724,0.0,49.933769,1.464240e-03,1.464240e-03,1.464240e-03,9.856235e+39,1.046255e-15,5.756109e+39,1.061353e-15,2459.552705,0.0

In [ ]:
idx = 0
df[mask_err].iloc[idx].mpmath, df[mask_err].iloc[idx].gnp, df[mask_err].iloc[idx].scipy

In [ ]:
df[mask_err]

In [ ]:
x, alpha, beta, mu, delta = df[mask_err].iloc[idx][['x', 'alpha', 'beta', 'mu', 'delta']]
x, alpha, beta, mu, delta

In [ ]:
mp_result = quad_phi(x, alpha, beta, mu, delta, digits=300)
mp_result

#### 1. Decision tree (test for more complex cases)

In [25]:
from sklearn import tree

In [26]:
df['target'] = (~mask_err).astype(int)

In [27]:
df.head()

,x,alpha,beta,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,relerr_scipy,abs_scipy,da,target
0,0.0,25.591569,-23.437357,0.0,28.606722,1.000000,1.000000,1.000000,0.000000e+00,0.000000e+00,2.708944e-14,2.708944e-14,732.090924,1
1,0.0,47.523234,22.157345,0.0,1.566046,0.000018,0.000018,0.000018,9.992007e-16,1.694066e-20,1.509903e-14,2.676624e-19,74.423556,1
2,0.0,7.208836,-5.907231,0.0,7.265633,1.000000,1.000000,1.000000,2.220446e-15,2.220446e-15,1.332268e-15,1.221245e-15,52.376758,1
3,0.0,47.432524,-37.068236,0.0,41.218698,1.000000,1.000000,1.000000,0.000000e+00,0.000000e+00,7.206880e-11,7.206880e-11,1955.106884,1
4,0.0,15.592261,4.273286,0.0,16.904493,0.000004,0.000004,0.000004,1.221245e-15,4.235165e-21,1.840750e-13,6.534859e-19,263.579266,1

In [28]:
df.describe()

,x,alpha,beta,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,relerr_scipy,abs_scipy,da,target
count,5000.0,5000.000000,5000.000000,5000.0,5000.000000,5.000000e+03,5.000000e+03,5.000000e+03,4.911000e+03,5.000000e+03,4.913000e+03,5.000000e+03,5000.000000,5000.000000
mean,0.0,24.873744,0.557770,0.0,24.681219,4.871160e-01,4.871160e-01,4.871160e-01,inf,2.113422e-16,inf,1.222578e-12,611.229798,0.909600
std,0.0,14.447806,16.766425,0.0,14.411437,4.786437e-01,4.786437e-01,4.786437e-01,NaN,1.136645e-15,NaN,4.397369e-11,543.403863,0.286783
min,0.0,0.005802,-48.288428,0.0,0.001567,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.024599,0.000000
25%,0.0,12.501366,-8.219542,0.0,12.202094,2.502492e-21,2.503662e-21,2.502492e-21,2.220446e-16,4.507816e-142,1.065814e-14,1.869724e-27,164.028735,1.000000
50%,0.0,24.817868,0.191428,0.0,24.412502,3.846235e-01,3.846235e-01,3.846235e-01,7.771561e-16,8.271806e-25,5.928591e-14,8.881784e-16,456.560944,1.000000
75%,0.0,37.542137,9.967034,0.0,37.420243,1.000000e+00,1.000000e+00,1.000000e+00,8.382184e-15,2.220446e-16,1.357318e-04,1.856848e-14,923.731095,1.000000
max,0.0,49.989557,49.057855,0.0,49.988874,1.000000e+00,1.000000e+00,1.000000e+00,inf,5.218048e-14,inf,2.550442e-09,2459.552705,1.000000

In [81]:
df['omega'] = np.sqrt(df['delta'] ** 2 + (df['x'] - df['mu']) ** 2)
df['aw'] = df['alpha'] * df['omega']
df['xmu'] = df['x'] - df['mu']
df['xmu2'] = df['xmu'] ** 2
df['aow'] = df['alpha'] / df['omega']
df['woa'] = df['omega'] / df['alpha']
df['da'] = df['delta'] * df['alpha']

In [82]:
df['method'] = 'integration'

# criteria_asymp_xmu = (df['xmu2'] >= 70) & (df['aow'] >= 1.0)
# df.loc[criteria_asymp_xmu, 'method'] = 'asymptotic_xmu'

# criteria_asymp_a = (df['xmu2'] <= 2.5) & (df['da'] >= 200) & (df['alpha'] >= 5) & (df['delta'] >= 10)
# df.loc[criteria_asymp_a, 'method'] = 'asymptotic_alpha'

# criteria1 = (df['xmu'].abs() <= 20) & (df['aow'] <= 0.25) & (df['delta'] >= 2.0 * df['xmu'].abs())
# criteria2 = (df['xmu2'] <= 1.25) & (df['aw'] <= 750)
# criteria3 = (df['delta'] >= 1)

# df.loc[(criteria1 | criteria2) & criteria3, 'method'] = 'series'

In [83]:
df['target'] = (~mask_err).astype(int)
df['rba'] = df['beta'].abs() / df['alpha']
df['method'] = 'integration'

# asymptotic
criteria_asymp = (df['rba'] >= 0.75) & (df['da'] >= 300) & (df['delta'] >= 15)
df.loc[criteria_asymp, 'method'] = 'asymptotic_xmu'

criteria1 = (df['alpha'] <= 10.0) & (df['delta'] <= 10.0)
criteria2 = (df['beta'] <= 1.5) & (df['rba'] <= 0.9)
df.loc[criteria1 & criteria2, 'method'] = 'series'

In [84]:
df

,x,alpha,beta,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,...,abs_xmu,omega,aw,xmu,xmu2,aow,woa,method,target,rba
0,0.0,21.166899,14.632105,0.0,34.243950,1.010423e-89,1.010714e-89,1.010423e-89,4.007905e-14,4.046220e-103,...,0.0,34.243950,724.838230,0.0,0.0,0.618121,1.617807,integration,1,0.691273
1,0.0,22.675441,14.972035,0.0,33.571727,1.060891e-84,1.060742e-84,1.060891e-84,1.076916e-14,1.142987e-98,...,0.0,33.571727,761.253715,0.0,0.0,0.675433,1.480532,integration,1,0.660275
2,0.0,24.260064,23.017621,0.0,31.218983,1.489256e-227,1.324538e-227,1.489256e-227,1.820766e-14,2.718200e-241,...,0.0,31.218983,757.374518,0.0,0.0,0.777093,1.286847,asymptotic_xmu,1,0.948786
3,0.0,30.650552,28.002531,0.0,30.801800,7.081262e-246,5.546299e-246,7.081262e-246,1.012523e-13,7.164450e-259,...,0.0,30.801800,944.092168,0.0,0.0,0.995090,1.004935,asymptotic_xmu,1,0.913606
4,0.0,1.980604,0.922419,0.0,29.842461,1.165065e-04,1.165065e-04,1.165065e-04,1.110223e-15,1.355253e-19,...,0.0,29.842461,59.106105,0.0,0.0,0.066369,15.067352,integration,1,0.465726
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,0.0,16.681754,16.503142,0.0,33.044818,5.899049e-207,5.811818e-207,5.899049e-207,1.126876e-13,6.646402e-220,...,0.0,33.044818,551.245522,0.0,0.0,0.504822,1.980896,asymptotic_xmu,1,0.989293
448,0.0,39.306649,29.297959,0.0,24.970325,1.377551e-144,1.212737e-144,1.377551e-144,7.105427e-14,9.787251e-158,...,0.0,24.970325,981.499812,0.0,0.0,1.574134,0.635270,integration,1,0.745369
449,0.0,27.368279,19.497553,0.0,34.849662,5.255198e-126,4.808992e-126,5.255198e-126,3.586020e-14,1.882842e-139,...,0.0,34.849662,953.775270,0.0,0.0,0.785324,1.273360,integration,1,0.712414
450,0.0,47.474300,22.090738,0.0,35.129723,1.348710e-85,1.143941e-85,1.348710e-85,3.363976e-14,4.543375e-99,...,0.0,35.129723,1667.759004,0.0,0.0,1.351400,0.739973,integration,1,0.465320
451,0.0,40.414363,33.272050,0.0,39.297911,7.409589e-301,3.386526e-301,7.409589e-301,1.015786e-09,7.526558e-310,...,0.0,39.297911,1588.200026,0.0,0.0,1.028410,0.972375,asymptotic_xmu,0,0.823273

In [85]:
df[df['target'] == 1].head(10)

,x,alpha,beta,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,...,abs_xmu,omega,aw,xmu,xmu2,aow,woa,method,target,rba
0,0.0,21.166899,14.632105,0.0,34.243950,1.010423e-89,1.010714e-89,1.010423e-89,4.007905e-14,4.046220e-103,...,0.0,34.243950,724.838230,0.0,0.0,0.618121,1.617807,integration,1,0.691273
1,0.0,22.675441,14.972035,0.0,33.571727,1.060891e-84,1.060742e-84,1.060891e-84,1.076916e-14,1.142987e-98,...,0.0,33.571727,761.253715,0.0,0.0,0.675433,1.480532,integration,1,0.660275
2,0.0,24.260064,23.017621,0.0,31.218983,1.489256e-227,1.324538e-227,1.489256e-227,1.820766e-14,2.718200e-241,...,0.0,31.218983,757.374518,0.0,0.0,0.777093,1.286847,asymptotic_xmu,1,0.948786
3,0.0,30.650552,28.002531,0.0,30.801800,7.081262e-246,5.546299e-246,7.081262e-246,1.012523e-13,7.164450e-259,...,0.0,30.801800,944.092168,0.0,0.0,0.995090,1.004935,asymptotic_xmu,1,0.913606
4,0.0,1.980604,0.922419,0.0,29.842461,1.165065e-04,1.165065e-04,1.165065e-04,1.110223e-15,1.355253e-19,...,0.0,29.842461,59.106105,0.0,0.0,0.066369,15.067352,integration,1,0.465726
5,0.0,42.631789,21.660483,0.0,32.395869,1.368390e-85,1.232251e-85,1.368390e-85,2.131628e-14,2.914618e-99,...,0.0,32.395869,1381.093857,0.0,0.0,1.315964,0.759899,integration,1,0.508083
6,0.0,41.994236,27.901088,0.0,25.540715,3.868873e-120,3.456144e-120,3.868873e-120,3.308465e-14,1.279514e-133,...,0.0,25.540715,1072.562806,0.0,0.0,1.644208,0.608196,integration,1,0.664403
7,0.0,39.355060,26.548208,0.0,45.584920,1.479649e-206,7.707865e-207,1.479649e-206,8.038015e-14,1.189575e-219,...,0.0,45.584920,1793.997246,0.0,0.0,0.863335,1.158299,integration,1,0.674582
8,0.0,44.735898,20.948771,0.0,32.936031,7.066148e-77,6.417486e-77,7.066148e-77,2.042810e-14,1.442046e-90,...,0.0,32.936031,1473.422932,0.0,0.0,1.358266,0.736233,integration,1,0.468277
10,0.0,45.954512,31.113982,0.0,46.341968,7.403548e-247,2.795545e-247,7.403548e-247,3.985701e-14,2.947079e-260,...,0.0,46.341968,2129.622498,0.0,0.0,0.991639,1.008431,integration,1,0.677060

In [86]:
x, alpha, mu, delta = df[df['target'] == 1].head(1)[['x', 'alpha', 'mu', 'delta']].values[0]

In [87]:
x, alpha, mu, delta

(0.0, 21.166899122179814, 0.0, 34.24394975388796)

In [88]:
df['method'][~mask_inf].value_counts()

method
asymptotic_xmu    242
integration       204
series              1
Name: count, dtype: int64

In [89]:
df.groupby('method')[['target', 'relerr_gnp']].describe()

               target                                              relerr_gnp  \
                count      mean       std  min  25%  50%  75%  max      count
method
asymptotic_xmu  247.0  0.894737  0.307515  0.0  1.0  1.0  1.0  1.0      247.0
integration     204.0  1.000000  0.000000  1.0  1.0  1.0  1.0  1.0      204.0
series            1.0  0.000000       NaN  0.0  0.0  0.0  0.0  0.0        1.0

                                                                        \
                        mean           std           min           25%
method
asymptotic_xmu           inf           NaN  0.000000e+00  3.091971e-14
integration     3.443324e-14  2.236913e-14  2.220446e-16  1.731948e-14
series          7.145395e-13           NaN  7.145395e-13  7.145395e-13


                         50%           75%           max
method
asymptotic_xmu  5.428991e-14  9.597878e-14           inf
integration     3.219647e-14  4.729550e-14  1.191269e-13
series          7.145395e-13  7.145395e-13  7.145395e-13

In [90]:
df[~mask_err & ~mask_inf].groupby('method')[['target', 'relerr_gnp']].describe()

               target                                    relerr_gnp  \
                count mean  std  min  25%  50%  75%  max      count
method
asymptotic_xmu  221.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0      221.0
integration     204.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0      204.0

                                                                        \
                        mean           std           min           25%
method
asymptotic_xmu  5.706647e-14  4.265134e-14  0.000000e+00  2.886580e-14
integration     3.443324e-14  2.236913e-14  2.220446e-16  1.731948e-14


                         50%           75%           max
method
asymptotic_xmu  4.873879e-14  7.316370e-14  2.426948e-13
integration     3.219647e-14  4.729550e-14  1.191269e-13

In [91]:
df_integration = df[mask_err & (df['method'] == 'asymptotic_xmu')]
df_integration.describe()

,x,alpha,beta,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,...,da,abs_xmu,omega,aw,xmu,xmu2,aow,woa,target,rba
count,26.0,26.000000,26.000000,26.0,26.000000,2.600000e+01,2.600000e+01,2.600000e+01,2.600000e+01,2.600000e+01,...,26.000000,26.0,26.000000,26.000000,26.0,26.0,26.000000,26.000000,26.0,26.000000
mean,0.0,38.859400,32.772863,0.0,37.686152,8.387683e-301,2.475655e-270,5.590509e-270,inf,5.590509e-270,...,1444.113491,0.0,37.686152,1444.113491,0.0,0.0,1.077307,1.032744,0.0,0.852253
std,0.0,8.332597,5.878259,0.0,5.964386,0.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000e+00,...,311.700419,0.0,5.964386,311.700419,0.0,0.0,0.370541,0.333419,0.0,0.062166
min,0.0,23.041606,22.679619,0.0,23.214612,0.000000e+00,1.557551e-316,0.000000e+00,1.959766e-11,1.630417e-322,...,842.445431,0.0,23.214612,842.445431,0.0,0.0,0.621750,0.491559,0.0,0.758850
25%,0.0,31.707324,28.134425,0.0,34.039514,5.928788e-323,1.728333e-306,3.081231e-306,2.718959e+00,1.408946e-307,...,1234.268492,0.0,34.039514,1234.268492,0.0,0.0,0.771545,0.733773,0.0,0.808781
50%,0.0,40.751327,32.934838,0.0,37.996460,5.536424e-316,2.931731e-301,7.008145e-301,6.085453e+20,9.343044e-302,...,1387.864203,0.0,37.996460,1387.864203,0.0,0.0,1.001039,0.999710,0.0,0.856338
75%,0.0,45.818994,37.743871,0.0,42.652616,1.108989e-307,1.219158e-290,2.641707e-290,2.374572e+39,2.641707e-290,...,1641.147213,0.0,42.652616,1641.147213,0.0,0.0,1.363522,1.298731,0.0,0.888762
max,0.0,49.805371,44.394336,0.0,46.231944,2.106701e-299,6.436661e-269,1.453525e-268,inf,1.453525e-268,...,2008.179123,0.0,46.231944,2008.179123,0.0,0.0,2.034346,1.608363,0.0,0.984290

In [92]:
df_integration.sort_values('relerr_gnp', ascending=False).head(20)

,x,alpha,beta,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,...,abs_xmu,omega,aw,xmu,xmu2,aow,woa,method,target,rba
48,0.0,28.744716,25.296864,0.0,46.231944,0.000000e+00,5.782457e-306,1.051996e-305,inf,1.051996e-305,...,0.0,46.231944,1328.924108,0.0,0.0,0.621750,1.608363,asymptotic_xmu,0,0.880053
382,0.0,44.445499,38.038232,0.0,30.265995,0.000000e+00,6.645887e-285,1.181164e-284,inf,1.181164e-284,...,0.0,30.265995,1345.187259,0.0,0.0,1.468496,0.680969,asymptotic_xmu,0,0.855840
80,0.0,48.299014,38.908918,0.0,33.642223,0.000000e+00,1.481826e-290,3.248913e-290,inf,3.248913e-290,...,0.0,33.642223,1624.886217,0.0,0.0,1.435667,0.696541,asymptotic_xmu,0,0.805584
117,0.0,44.347638,37.998652,0.0,32.031885,0.000000e+00,9.035041e-302,1.749381e-301,inf,1.749381e-301,...,0.0,32.031885,1420.538444,0.0,0.0,1.384484,0.722291,asymptotic_xmu,0,0.856836
279,0.0,48.888224,37.872148,0.0,38.210883,0.000000e+00,2.476937e-301,6.606701e-301,inf,6.606701e-301,...,0.0,38.210883,1868.062194,0.0,0.0,1.279432,0.781597,asymptotic_xmu,0,0.774668
9,0.0,29.475514,25.055801,0.0,44.772104,7.103020e-314,4.088576e-274,7.000903e-274,9.856235e+39,7.000903e-274,...,0.0,44.772104,1319.680766,0.0,0.0,0.658346,1.518959,asymptotic_xmu,0,0.850055
328,0.0,42.199981,37.208496,0.0,28.573723,1.111030e-318,1.966918e-279,3.133668e-279,2.820506e+39,3.133668e-279,...,0.0,28.573723,1205.810576,0.0,0.0,1.476881,0.677103,asymptotic_xmu,0,0.881718
237,0.0,49.175637,37.359041,0.0,35.604529,1.401975e-307,6.436661e-269,1.453525e-268,1.036770e+39,1.453525e-268,...,0.0,35.604529,1750.875379,0.0,0.0,1.381162,0.724028,asymptotic_xmu,0,0.759706
148,0.0,49.515015,38.033965,0.0,37.780436,9.881313e-324,2.642754e-295,6.945751e-295,7.029178e+28,6.945751e-295,...,0.0,37.780436,1870.698834,0.0,0.0,1.310599,0.763010,asymptotic_xmu,0,0.768130
292,0.0,31.550841,27.155787,0.0,42.952578,1.427188e-318,8.504541e-292,1.541104e-291,1.079819e+27,1.541104e-291,...,0.0,42.952578,1355.189961,0.0,0.0,0.734551,1.361377,asymptotic_xmu,0,0.860699
118,0.0,25.976003,24.218024,0.0,40.621574,4.644217e-322,2.603008e-295,3.779634e-295,8.138367e+26,3.779634e-295,...,0.0,40.621574,1055.186121,0.0,0.0,0.639463,1.563812,asymptotic_xmu,0,0.932323
155,0.0,34.071840,27.920115,0.0,45.370490,1.046303e-315,1.621843e-289,3.356160e-289,3.207637e+26,3.356160e-289,...,0.0,45.370490,1545.856067,0.0,0.0,0.750969,1.331613,asymptotic_xmu,0,0.819448
371,0.0,29.569336,26.483010,0.0,39.687894,1.201848e-306,9.084624e-286,1.426420e-285,1.186856e+21,1.426420e-285,...,0.0,39.687894,1173.544658,0.0,0.0,0.745047,1.342198,asymptotic_xmu,0,0.895624
76,0.0,23.041606,22.679619,0.0,36.561923,2.470328e-323,6.041605e-304,7.469008e-304,3.023488e+19,7.469008e-304,...,0.0,36.561923,842.445431,0.0,0.0,0.630208,1.586778,asymptotic_xmu,0,0.984290
332,0.0,49.805371,42.115021,0.0,28.580064,3.044146e-307,4.311542e-291,8.200902e-291,2.693991e+16,8.200902e-291,...,0.0,28.580064,1423.440719,0.0,0.0,1.742661,0.573835,asymptotic_xmu,0,0.845592
219,0.0,44.769081,36.637802,0.0,36.779123,1.249739e-319,3.769580e-307,8.719518e-307,6.977071e+12,8.719518e-307,...,0.0,36.779123,1646.567545,0.0,0.0,1.217242,0.821530,asymptotic_xmu,0,0.818373
127,0.0,32.176774,29.023399,0.0,37.782037,2.300279e-308,7.185642e-303,1.192276e-302,5.183169e+05,1.192274e-302,...,0.0,37.782037,1215.704090,0.0,0.0,0.851642,1.174202,asymptotic_xmu,0,0.901998
78,0.0,33.248754,29.628285,0.0,38.797294,3.371020e-314,7.015499e-309,1.243945e-308,3.690105e+05,1.243942e-308,...,0.0,38.797294,1289.961698,0.0,0.0,0.856986,1.166880,asymptotic_xmu,0,0.891110
446,0.0,30.184547,28.777356,0.0,33.118312,1.426256e-306,6.919196e-306,9.709068e-306,5.807380e+00,8.282812e-306,...,0.0,33.118312,999.661269,0.0,0.0,0.911416,1.097194,asymptotic_xmu,0,0.953380
400,0.0,46.168965,35.035328,0.0,43.496299,3.114914e-307,2.805199e-307,8.377516e-307,1.689485e+00,5.262601e-307,...,0.0,43.496299,2008.179123,0.0,0.0,1.061446,0.942111,asymptotic_xmu,0,0.758850

In [57]:
case = df_integration.sort_values('relerr_gnp', ascending=False).iloc[10].to_dict()
case

{'x': 0.0,
 'alpha': 27.604424072229943,
 'beta': 24.5016294767826,
 'mu': 0.0,
 'delta': 40.31836631501649,
 'mpmath': 3.159223692826931e-297,
 'scipy': 1.7897581321603166e-263,
 'gnp': 2.6110020461568583e-263,
 'relerr_gnp': 8.264695064439979e+33,
 'abs_gnp': 2.6110020461568583e-263,
 'relerr_scipy': 5.665183305075837e+33,
 'abs_scipy': 1.7897581321603166e-263,
 'da': 1112.965281659226,
 'target': 0,
 'omega': 40.31836631501649,
 'aw': 1112.965281659226,
 'xmu': 0.0,
 'xmu2': 0.0,
 'aow': 0.6846612746297891,
 'woa': 1.4605762543539815,
 'method': 'asymptotic_xmu',
 'rba': 0.8875979231688171}

In [58]:
mp_result = quad_phi(case['x'], case['alpha'], case['beta'], case['mu'], case['delta'], digits=300)
float(mp_result)

2.6110020461567916e-263

In [ ]:
df_integration.head(10)

In [ ]:
idx = 0

In [ ]:
df_integration[df_integration.index == 820]

In [ ]:
df_integration.iloc[idx][['mpmath', 'scipy', 'gnp']].values

In [ ]:
x, alpha, mu, delta = df_integration.iloc[idx][['x', 'alpha', 'mu', 'delta']].values

In [ ]:
x, alpha, mu, delta = df_integration[df_integration.index == 820][['x', 'alpha', 'mu', 'delta']].values[0]

In [ ]:
list(df_integration[df_integration.index == 820][['mpmath', 'scipy', 'gnp']].values[0])

In [ ]:
mp_result = quad_phi(x, alpha, 0, mu, delta, digits=250)
mp_result

In [ ]:
for k, v in zip(['x', 'alpha', 'mu', 'delta'], (x, alpha, mu, delta)):
    print(f'double {k} = {v};')

In [ ]:
df[(df['xmu'].abs() > 4) & (df['aw'] > 100)]

In [ ]:
X = df.copy()
y = df['target']

X = X[['xmu2', 'woa', 'aw', 'da', 'alpha']]

In [ ]:
clf = tree.DecisionTreeClassifier(max_depth=2)
clf = clf.fit(X, y)

In [ ]:
clf.score(X, y)

In [ ]:
tree.plot_tree(clf, feature_names=X.columns, filled=True)

In [ ]:
mask_series = (df['alpha'] <= 2.425) & (df['mu'] <= 4.406)
# mask_series = ((X['xmu2'] <= 20) & (X['aow'] <= 0.25)) | ((X['xmu2'] <= 1.25) & (X['aw'] <= 750))
mask_series = (X['xmu2'] >= 70) & (X['woa'] <= 1)

In [ ]:
X.describe()

In [ ]:
df[mask_series].describe()

In [ ]:
df[mask_series][df.loc[mask_series, 'relerr_gnp'].isna()]

In [ ]:
df[X['aw'] > 750].describe()