In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
from mpmath_integration import quad_phi

In [8]:
instance = 'instances/instances_beta_eq_zero_algo.csv'
# instance = 'instances/instances_beta_eq_zero_asymp_xmu.csv'

In [9]:
df = pd.read_csv(instance)

In [10]:
df

,x,alpha,mu,delta,mpmath,scipy,gnp
0,0.118216,27.116783,-2.158274,5.764235,9.999994e-01,9.9999940889103400E-01,9.999994e-01
1,4.504637,48.394205,-4.901985,43.929992,1.000000e+00,NAN,1.000000e+00
2,-3.558404,35.239417,-3.896193,14.967645,6.979935e-01,6.9799347240368237E-01,6.979935e-01
3,4.486494,27.261715,-3.687490,37.296710,1.000000e+00,NAN,1.000000e+00
4,-1.881685,23.184287,-0.677947,46.868379,1.985413e-01,NAN,1.985413e-01
...,...,...,...,...,...,...,...
995,0.654838,18.843563,-3.865584,25.968663,9.999383e-01,9.9993827933742463E-01,9.999383e-01
996,4.374292,14.346248,4.788995,14.979224,3.421822e-01,3.4218224649992784E-01,3.421822e-01
997,-4.812338,29.124041,0.421437,23.416039,3.229725e-09,3.2298373920161157E-09,3.229725e-09
998,3.656635,40.191090,-3.878165,22.050325,1.000000e+00,NAN,1.000000e+00
999,4.624731,17.564702,-4.952013,30.655566,1.000000e+00,9.9999999999962086E-01,1.000000e+00

In [11]:
df.loc[df['scipy'] == 'NAN', 'scipy'] = np.NaN
df['scipy'] = df['scipy'].astype(float)

df.loc[df['gnp'] == 'NAN', 'gnp'] = np.NaN
df['gnp'] = df['gnp'].astype(float)

In [12]:
df['relerr_gnp'] = np.absolute(df['gnp'] / df['mpmath'] - 1)
df['abs_gnp'] = np.absolute(df['gnp'] - df['mpmath'])

In [13]:
df['relerr_scipy'] = np.absolute(df['scipy'] / df['mpmath'] - 1)
df['abs_scipy'] = np.absolute(df['scipy'] - df['mpmath'])

In [14]:
df['da'] = df['delta'] * df['alpha']

In [15]:
df[['x', 'alpha', 'mu', 'delta', 'da']].describe()

                 x        alpha           mu        delta           da
count  1000.000000  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.028046    24.988738    -0.184133    25.244619   629.850878
std       2.899992    14.212944     2.935010    14.576032   556.461781
min      -4.979432     0.005802    -4.992318     0.019839     0.072838
25%      -2.404761    12.245459    -2.796726    13.053924   165.740970
50%      -0.062113    25.312001    -0.240109    25.633686   477.202961
75%       2.628567    36.824296     2.387672    37.761555   940.623336
max       4.991993    49.989557     4.963131    49.975786  2429.390376

In [16]:
mask_inf = df['relerr_gnp'] == np.inf
mask_nan = (df['relerr_gnp'].isna() & (df['mpmath'] != df['gnp']) & (df['mpmath'] != 0))

mask_err = (df['relerr_gnp'] > 5e-13) | mask_nan

In [17]:
mask_inf.sum(), mask_nan.sum()

(0, 0)

In [18]:
np.count_nonzero(~mask_err)

868

In [19]:
df[mask_inf]

Empty DataFrame
Columns: [x, alpha, mu, delta, mpmath, scipy, gnp, relerr_gnp, abs_gnp, relerr_scipy, abs_scipy, da]
Index: []

In [20]:
df[mask_nan].describe()

,x,alpha,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,relerr_scipy,abs_scipy,da
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
mask_err.sum(), (df['relerr_gnp'] > 1e-11).sum()

(132, 114)

In [22]:
df[mask_err].sort_values('relerr_gnp', ascending=False).head(150).describe()

,x,alpha,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,relerr_scipy,abs_scipy,da
count,132.000000,132.000000,132.000000,132.000000,1.320000e+02,2.000000e+01,1.320000e+02,1.320000e+02,1.320000e+02,2.000000e+01,2.000000e+01,132.000000
mean,-0.482871,33.470458,0.185916,39.968459,4.419937e-01,4.357032e-03,1.117060e-01,6.033473e-01,3.302877e-01,4.262945e-02,1.290693e-16,1366.220358
std,2.813956,11.240350,3.051171,10.376836,4.869296e-01,5.768247e-03,2.843712e-01,4.648397e-01,4.489387e-01,1.899093e-01,1.661936e-16,576.083332
min,-4.902151,3.671510,-4.953318,0.019839,2.784465e-119,4.191759e-120,5.278019e-138,5.762057e-13,2.365291e-119,2.220446e-15,2.365289e-119,0.072838
25%,-2.968338,29.043051,-2.455769,38.368033,2.352863e-04,1.098654e-04,6.287609e-30,3.939442e-05,5.057544e-11,1.204592e-14,4.914146e-17,1158.214978
50%,-0.770832,35.358595,0.212705,42.719881,3.898202e-02,1.467061e-03,7.945527e-08,9.938899e-01,6.794643e-04,2.131628e-14,7.733072e-17,1463.812310
75%,1.819006,41.165384,2.929010,46.042462,9.989946e-01,7.697328e-03,8.733737e-03,1.000000e+00,9.459863e-01,6.521450e-13,1.164433e-16,1747.161151
max,4.870945,49.841879,4.963131,49.772051,1.000000e+00,1.922320e-02,1.000000e+00,1.000000e+00,1.000000e+00,8.494591e-01,7.293970e-16,2429.390376

In [23]:
df[~mask_err].sort_values('relerr_gnp', ascending=False).head()

,x,alpha,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,relerr_scipy,abs_scipy,da
107,-3.037031,41.299345,-0.401018,22.003783,0.000155,NaN,0.000155,4.922729e-13,7.640915e-17,NaN,NaN,908.741830
618,-3.975587,8.719204,-2.470696,0.662956,0.000008,0.000008,0.000008,4.520828e-13,3.718475e-18,1.447161e-09,1.190181e-14,5.780448
260,-0.367600,23.493288,2.029883,10.157619,0.000143,0.000143,0.000143,3.712586e-13,5.323433e-17,4.123368e-13,5.911612e-17,238.635869
918,2.864853,43.486137,1.535583,25.495426,0.958721,NaN,0.958721,3.324008e-13,3.186340e-13,NaN,NaN,1108.697579
314,-1.007090,48.058820,-2.268491,24.298380,0.961965,NaN,0.961965,3.286260e-13,3.160805e-13,NaN,NaN,1167.751471

In [24]:
df[~mask_err].describe()

,x,alpha,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,relerr_scipy,abs_scipy,da
count,868.000000,868.000000,868.000000,868.000000,8.680000e+02,6.220000e+02,8.680000e+02,8.680000e+02,8.680000e+02,6.220000e+02,6.220000e+02,868.000000
mean,0.105744,23.698892,-0.240408,23.005510,5.272347e-01,5.197221e-01,5.272347e-01,1.816622e-14,4.578960e-15,3.313231e-03,3.215434e-03,517.868422
std,2.906570,14.179374,2.914642,13.802614,4.264032e-01,4.313892e-01,4.264032e-01,5.109459e-14,2.129011e-14,5.665968e-02,5.665912e-02,459.933761
min,-4.979432,0.005802,-4.992318,0.145362,7.993726e-89,7.993726e-89,7.993726e-89,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.277157
25%,-2.357855,11.486169,-2.833284,11.454001,1.681924e-02,9.703277e-03,1.681924e-02,4.440892e-16,6.938894e-18,1.554312e-15,5.599904e-17,146.203853
50%,0.013284,23.062798,-0.332240,22.526922,6.002166e-01,5.708145e-01,6.002166e-01,1.998401e-15,3.330669e-16,6.217249e-15,6.661338e-16,395.632964
75%,2.740868,34.385676,2.305804,33.782445,9.986436e-01,9.990636e-01,9.986436e-01,9.992007e-15,1.949829e-15,2.048361e-14,3.219647e-15,775.932616
max,4.991993,49.989557,4.945870,49.975786,1.000000e+00,1.000000e+00,1.000000e+00,4.922729e-13,3.186340e-13,1.000000e+00,1.000000e+00,2188.006772

In [25]:
df[mask_err].describe()

,x,alpha,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,relerr_scipy,abs_scipy,da
count,132.000000,132.000000,132.000000,132.000000,1.320000e+02,2.000000e+01,1.320000e+02,1.320000e+02,1.320000e+02,2.000000e+01,2.000000e+01,132.000000
mean,-0.482871,33.470458,0.185916,39.968459,4.419937e-01,4.357032e-03,1.117060e-01,6.033473e-01,3.302877e-01,4.262945e-02,1.290693e-16,1366.220358
std,2.813956,11.240350,3.051171,10.376836,4.869296e-01,5.768247e-03,2.843712e-01,4.648397e-01,4.489387e-01,1.899093e-01,1.661936e-16,576.083332
min,-4.902151,3.671510,-4.953318,0.019839,2.784465e-119,4.191759e-120,5.278019e-138,5.762057e-13,2.365291e-119,2.220446e-15,2.365289e-119,0.072838
25%,-2.968338,29.043051,-2.455769,38.368033,2.352863e-04,1.098654e-04,6.287609e-30,3.939442e-05,5.057544e-11,1.204592e-14,4.914146e-17,1158.214978
50%,-0.770832,35.358595,0.212705,42.719881,3.898202e-02,1.467061e-03,7.945527e-08,9.938899e-01,6.794643e-04,2.131628e-14,7.733072e-17,1463.812310
75%,1.819006,41.165384,2.929010,46.042462,9.989946e-01,7.697328e-03,8.733737e-03,1.000000e+00,9.459863e-01,6.521450e-13,1.164433e-16,1747.161151
max,4.870945,49.841879,4.963131,49.772051,1.000000e+00,1.922320e-02,1.000000e+00,1.000000e+00,1.000000e+00,8.494591e-01,7.293970e-16,2429.390376

In [26]:
idx = 2
df[mask_err].iloc[idx].mpmath, df[mask_err].iloc[idx].gnp

(0.0138758761145986, 2.6866983645633044e-25)

In [27]:
df[mask_err]

,x,alpha,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,relerr_scipy,abs_scipy,da
6,3.277026,34.100154,-0.956142,46.567891,9.998524e-01,NaN,6.468582e-36,1.000000e+00,9.998524e-01,NaN,NaN,1587.972261
11,0.381433,47.043147,-2.035215,41.898270,9.947687e-01,NaN,9.947685e-01,1.254908e-07,1.248343e-07,NaN,NaN,1971.026478
16,-3.659583,31.104863,-1.134391,40.936226,1.387588e-02,NaN,2.686698e-25,1.000000e+00,1.387588e-02,NaN,NaN,1273.315709
21,-2.195912,45.058035,-4.669138,47.645054,9.919083e-01,NaN,4.959387e-03,9.950002e-01,9.869489e-01,NaN,NaN,2146.792494
42,0.929410,49.136097,-3.387723,46.380934,9.999955e-01,NaN,9.971562e-01,2.839289e-03,2.839276e-03,NaN,NaN,2278.978091
...,...,...,...,...,...,...,...,...,...,...,...,...
950,2.748686,41.015519,-2.614412,43.784602,9.999999e-01,NaN,2.912437e-03,9.970876e-01,9.970875e-01,NaN,NaN,1795.848211
966,-0.217924,38.049484,-3.805524,49.546268,9.991624e-01,NaN,7.749955e-31,1.000000e+00,9.991624e-01,NaN,NaN,1885.209927
967,4.208853,37.771625,0.680865,40.271550,9.996803e-01,NaN,6.434302e-03,9.935636e-01,9.932460e-01,NaN,NaN,1521.121913
980,-4.373411,25.266620,2.833618,41.274889,9.569958e-09,NaN,1.892179e-70,1.000000e+00,9.569958e-09,NaN,NaN,1042.876915
987,0.569348,44.273740,-4.102297,43.259166,9.999988e-01,NaN,8.475684e-01,1.524306e-01,1.524304e-01,NaN,NaN,1915.245058

In [28]:
x, alpha, mu, delta = df[mask_err].iloc[idx][['x', 'alpha', 'mu', 'delta']]
x, alpha, mu, delta

(-3.659583027528353, 31.10486326943498, -1.134390537247281, 40.93622589090556)

In [ ]:
mp_result = quad_phi(x, alpha, 0, mu, delta, digits=300)
mp_result

#### 1. Decision tree (test for more complex cases)

In [29]:
from sklearn import tree

In [30]:
df['target'] = (~mask_err).astype(int)

In [31]:
df.head()

,x,alpha,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,relerr_scipy,abs_scipy,da,target
0,0.118216,27.116783,-2.158274,5.764235,0.999999,0.999999,0.999999,2.220446e-16,1.110223e-16,6.883383e-15,6.772360e-15,156.307509,1
1,4.504637,48.394205,-4.901985,43.929992,1.000000,NaN,1.000000,0.000000e+00,0.000000e+00,NaN,NaN,2125.957034,1
2,-3.558404,35.239417,-3.896193,14.967645,0.697993,0.697993,0.697993,2.708944e-14,1.887379e-14,1.465494e-14,1.021405e-14,527.451083,1
3,4.486494,27.261715,-3.687490,37.296710,1.000000,NaN,1.000000,8.881784e-16,8.881784e-16,NaN,NaN,1016.772283,1
4,-1.881685,23.184287,-0.677947,46.868379,0.198541,NaN,0.198541,2.353673e-14,4.662937e-15,NaN,NaN,1086.609971,1

In [32]:
df['omega'] = np.sqrt(df['delta'] ** 2 + (df['x'] - df['mu']) ** 2)
df['aw'] = df['alpha'] * df['omega']
df['xmu'] = df['x'] - df['mu']
df['xmu2'] = df['xmu'] ** 2
df['aow'] = df['alpha'] / df['omega']
df['woa'] = df['omega'] / df['alpha']
df['da'] = df['delta'] * df['alpha']

In [33]:
df['method'] = 'integration'

criteria_asymp_xmu = (df['xmu2'] >= 70) & (df['aow'] >= 1.0)
df.loc[criteria_asymp_xmu, 'method'] = 'asymptotic_xmu'

criteria_asymp_a = (df['xmu2'] <= 2.5) & (df['da'] >= 150) & (df['alpha'] >= 5)
df.loc[criteria_asymp_a, 'method'] = 'asymptotic_alpha'

criteria1 = (df['xmu'].abs() <= 20) & (df['aow'] <= 0.25)
criteria2 = (df['xmu2'] <= 1.25) & (df['aw'] <= 750)

df.loc[criteria1 | criteria2, 'method'] = 'series'

In [34]:
df[df['target'] == 1].head(10)

,x,alpha,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,relerr_scipy,abs_scipy,da,target,omega,aw,xmu,xmu2,aow,woa,method
0,0.118216,27.116783,-2.158274,5.764235,9.999994e-01,9.999994e-01,9.999994e-01,2.220446e-16,1.110223e-16,6.883383e-15,6.772360e-15,156.307509,1,6.197484,168.055841,2.276490,5.182409,4.375450,0.228548,integration
1,4.504637,48.394205,-4.901985,43.929992,1.000000e+00,NaN,1.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,2125.957034,1,44.925814,2174.149035,9.406622,88.484543,1.077203,0.928330,asymptotic_xmu
2,-3.558404,35.239417,-3.896193,14.967645,6.979935e-01,6.979935e-01,6.979935e-01,2.708944e-14,1.887379e-14,1.465494e-14,1.021405e-14,527.451083,1,14.971456,527.585385,0.337789,0.114102,2.353774,0.424850,series
3,4.486494,27.261715,-3.687490,37.296710,1.000000e+00,NaN,1.000000e+00,8.881784e-16,8.881784e-16,NaN,NaN,1016.772283,1,38.181914,1040.904476,8.173984,66.814017,0.713996,1.400569,integration
4,-1.881685,23.184287,-0.677947,46.868379,1.985413e-01,NaN,1.985413e-01,2.353673e-14,4.662937e-15,NaN,NaN,1086.609971,1,46.883835,1086.968295,-1.203738,1.448985,0.494505,2.022225,asymptotic_alpha
5,-0.766736,23.320484,2.758345,17.745632,2.848206e-05,2.848206e-05,2.848206e-05,8.881784e-16,2.710505e-20,9.436896e-15,2.676624e-19,413.836732,1,18.092365,421.922698,-3.525081,12.426193,1.288968,0.775814,integration
7,-0.908009,11.726034,-3.539573,44.111371,9.126371e-01,9.126371e-01,9.126371e-01,3.330669e-16,3.330669e-16,9.992007e-15,9.214851e-15,517.251432,1,44.189797,518.171061,2.631564,6.925129,0.265356,3.768520,integration
8,0.495937,35.770341,-3.320786,6.081767,1.000000e+00,1.000000e+00,1.000000e+00,4.440892e-16,4.440892e-16,2.886580e-15,2.886580e-15,217.546895,1,7.180200,256.838199,3.816723,14.567376,4.981803,0.200731,integration
9,-4.724409,24.549996,4.528849,6.392469,2.901707e-54,2.901811e-54,2.901707e-54,1.776357e-15,5.216071e-69,3.605106e-05,1.046096e-58,156.935077,1,11.246619,276.104448,-9.253258,85.622783,2.182878,0.458111,asymptotic_xmu
10,2.535131,33.733436,1.201842,45.061542,8.756983e-01,NaN,8.756983e-01,5.440093e-15,4.773959e-15,NaN,NaN,1520.080672,1,45.081263,1520.745911,1.333289,1.777659,0.748281,1.336397,asymptotic_alpha

In [35]:
x, alpha, mu, delta = df[df['target'] == 1].head(1)[['x', 'alpha', 'mu', 'delta']].values[0]

In [36]:
x, alpha, mu, delta

(0.1182162470025671,
 27.116782747705887,
 -2.1582741889630075,
 5.764235016147439)

In [37]:
df['method'].value_counts()

method
integration         609
series              239
asymptotic_alpha    139
asymptotic_xmu       13
Name: count, dtype: int64

In [38]:
df.groupby('method')[['target', 'relerr_gnp']].describe()

                 target                                               \
                  count      mean       std  min  25%  50%  75%  max
method
asymptotic_alpha  139.0  0.978417  0.145842  0.0  1.0  1.0  1.0  1.0
asymptotic_xmu     13.0  1.000000  0.000000  1.0  1.0  1.0  1.0  1.0
integration       609.0  0.811166  0.391699  0.0  1.0  1.0  1.0  1.0
series            239.0  0.941423  0.235325  0.0  1.0  1.0  1.0  1.0

                 relerr_gnp                                                 \
                      count          mean           std  min           25%
method
asymptotic_alpha      139.0  5.163975e-14  1.060019e-13  0.0  4.829470e-15
asymptotic_xmu         13.0  5.790240e-15  1.451931e-14  0.0  0.000000e+00
integration           609.0  1.307748e-01  3.293297e-01  0.0  4.440892e-16
series                239.0  8.820991e-13  6.878793e-12  0.0  8.881784e-16


                           50%           75%           max
method
asymptotic_alpha  1.487699e-14  5.040413e-14  7.058798e-13
asymptotic_xmu    0.000000e+00  0.000000e+00  4.818368e-14
integration       1.332268e-15  2.364775e-14  1.000000e+00
series            4.884981e-15  1.959544e-14  7.345657e-11

In [39]:
df_integration = df[mask_err & (df['method'] == 'integration')]
df_integration.describe()

,x,alpha,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,relerr_scipy,abs_scipy,da,target,omega,aw,xmu,xmu2,aow,woa
count,115.000000,115.000000,115.000000,115.000000,1.150000e+02,5.000000e+00,1.150000e+02,1.150000e+02,1.150000e+02,5.000000e+00,5.000000e+00,115.000000,115.0,115.000000,115.000000,115.000000,115.000000,115.000000,115.000000
mean,-0.255048,36.009487,-0.159882,41.065944,5.031836e-01,5.052951e-05,1.240707e-01,6.925378e-01,3.791128e-01,1.705178e-01,1.108479e-16,1509.946099,0.0,41.450461,1521.622281,-0.095166,21.602656,0.905316,1.195133
std,2.806928,8.323659,3.000325,8.620410,4.925146e-01,6.951088e-05,3.019426e-01,4.312635e-01,4.614417e-01,3.795421e-01,1.008897e-16,446.727998,0.0,8.006019,440.940626,4.667228,20.416117,0.429047,0.283482
min,-4.902151,3.671510,-4.953318,0.019839,2.784465e-119,4.191759e-120,5.278019e-138,5.762057e-13,2.365291e-119,5.961898e-13,2.365289e-119,0.072838,0.0,4.294977,17.869867,-8.910088,2.570869,0.474566,0.197526
25%,-2.618529,30.860634,-2.812022,38.863458,1.782088e-04,8.785616e-14,1.213786e-34,1.175128e-01,4.517308e-07,8.200107e-13,8.093569e-17,1262.042711,0.0,39.199787,1269.746833,-4.196472,6.452976,0.735307,0.990581
50%,-0.217924,36.723958,-0.222148,43.259166,9.093474e-01,2.159438e-09,6.972046e-10,9.999206e-01,1.387588e-02,4.705843e-08,9.584347e-17,1487.907318,0.0,43.510685,1494.531547,1.627877,14.912114,0.884004,1.131217
75%,2.082488,41.349595,2.674184,46.050929,9.996404e-01,1.168792e-04,5.175291e-03,1.000000e+00,9.703745e-01,3.129860e-03,1.016197e-16,1798.501514,0.0,46.484034,1819.787022,3.644114,27.851402,1.009510,1.359981
max,4.870945,49.841879,4.963131,49.772051,1.000000e+00,1.357662e-04,1.000000e+00,1.000000e+00,1.000000e+00,8.494591e-01,2.758408e-16,2429.390376,0.0,49.994147,2441.703744,9.379086,87.967248,5.062628,2.107187

In [43]:
df_integration.sort_values('relerr_gnp', ascending=True).head(50)

,x,alpha,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,relerr_scipy,abs_scipy,da,target,omega,aw,xmu,xmu2,aow,woa,method
366,-3.393764,11.841570,0.802670,15.514064,1.357662e-04,1.357662e-04,1.357662e-04,5.762057e-13,7.822519e-17,5.961898e-13,8.093569e-17,183.710878,0,16.071597,190.312947,-4.196434,17.610055,0.736801,1.357218,integration
179,-2.145348,16.682480,1.944758,20.456813,1.168792e-04,1.168792e-04,1.168792e-04,8.222312e-13,9.611452e-17,8.200107e-13,9.584347e-17,341.270385,0,20.861691,348.024759,-4.090106,16.728966,0.799671,1.250515,integration
485,2.807242,48.231900,-4.808477,41.203070,1.000000e+00,NaN,1.000000e+00,9.585666e-13,9.585666e-13,NaN,NaN,1987.302374,0,41.900981,2020.963917,7.615719,57.999180,1.151092,0.868740,integration
659,-2.990572,40.487914,4.963131,32.637718,7.020002e-19,NaN,7.020002e-19,2.669420e-12,1.873930e-30,NaN,NaN,1321.433098,0,33.592886,1360.105878,-7.953703,63.261387,1.205253,0.829702,integration
462,-2.121896,41.695307,-0.222148,34.847140,1.886322e-02,NaN,1.886322e-02,5.216938e-12,9.840739e-14,NaN,NaN,1452.962198,0,34.898885,1455.119742,-1.899748,3.609041,1.194746,0.836998,integration
690,-2.718942,4.160644,1.538619,0.565684,2.159437e-09,2.159438e-09,2.159437e-09,2.412166e-10,5.208922e-19,4.705843e-08,1.016197e-16,2.353610,0,4.294977,17.869867,-4.257561,18.126826,0.968723,1.032287,integration
55,-4.184474,36.509588,-1.422757,30.245531,1.214169e-03,NaN,1.214169e-03,4.091603e-10,4.967897e-13,NaN,NaN,1104.251898,0,30.371356,1108.845692,-2.761717,7.627080,1.202106,0.831873,integration
495,4.296082,45.431430,-3.357402,39.553519,1.000000e+00,NaN,1.000000e+00,1.929782e-09,1.929782e-09,NaN,NaN,1796.972943,0,40.287178,1830.304108,7.653484,58.575824,1.127690,0.886769,integration
50,1.832869,41.352314,4.461633,35.505679,2.285983e-03,NaN,2.285983e-03,4.404997e-09,1.006975e-11,NaN,NaN,1468.241997,0,35.602860,1472.260657,-2.628764,6.910401,1.161489,0.860964,integration
52,-3.083837,41.228642,-1.480444,35.516023,4.203543e-02,NaN,4.203543e-02,6.697067e-09,2.815141e-10,NaN,NaN,1464.277409,0,35.552198,1465.768842,-1.603393,2.570869,1.159665,0.862318,integration
245,-2.356603,3.671510,3.612551,0.019839,8.813200e-14,8.785616e-14,8.813200e-14,1.208810e-08,1.065349e-21,3.129860e-03,2.758408e-16,0.072838,0,5.969186,21.915927,-5.969153,35.630791,0.615077,1.625812,integration
11,0.381433,47.043147,-2.035215,41.898270,9.947687e-01,NaN,9.947685e-01,1.254908e-07,1.248343e-07,NaN,NaN,1971.026478,0,41.967907,1974.302420,2.416648,5.840186,1.120931,0.892115,integration
497,-3.644790,38.558010,3.168400,32.803403,9.930708e-14,NaN,9.930705e-14,2.145952e-07,2.131082e-20,NaN,NaN,1264.833927,0,33.503474,1291.827296,-6.813190,46.419564,1.150866,0.868911,integration
668,4.570840,38.775400,2.889121,34.024647,9.636933e-01,NaN,9.636924e-01,9.342412e-07,9.003220e-07,NaN,NaN,1319.319307,0,34.066183,1320.929860,1.681720,2.828181,1.138237,0.878551,integration
360,3.330948,46.363513,-0.664164,42.068964,9.999861e-01,NaN,9.999778e-01,8.306248e-06,8.306132e-06,NaN,NaN,1950.464930,0,42.258237,1959.240320,3.995111,15.960914,1.097147,0.911455,integration
473,3.028859,49.841879,-0.317505,45.696877,9.997613e-01,NaN,9.997450e-01,1.621155e-05,1.620768e-05,NaN,NaN,2277.618239,0,45.819240,2283.717021,3.346364,11.198150,1.087794,0.919292,integration
343,-2.565073,49.071083,1.819223,44.953923,2.369514e-06,NaN,2.369402e-06,4.712204e-05,1.116563e-10,NaN,NaN,2205.937672,0,45.167214,2216.404105,-4.384296,19.222051,1.086431,0.920445,integration
424,-1.916810,47.405166,3.636305,43.268486,3.282602e-09,NaN,3.282347e-09,7.759472e-05,2.547126e-13,NaN,NaN,2051.149782,0,43.623377,2067.973423,-5.553116,30.837092,1.086692,0.920224,integration
465,2.141670,41.184935,3.976339,37.722562,2.762435e-02,NaN,2.761574e-02,3.113690e-04,8.601366e-06,NaN,NaN,1553.601255,0,37.767151,1555.437651,-1.834670,3.366013,1.090496,0.917014,integration
881,0.953217,38.577333,-0.997902,35.211233,9.794259e-01,NaN,9.790728e-01,3.604883e-04,3.530716e-04,NaN,NaN,1358.355459,0,35.265249,1360.439258,1.951120,3.806868,1.093919,0.914144,integration
42,0.929410,49.136097,-3.387723,46.380934,9.999955e-01,NaN,9.971562e-01,2.839289e-03,2.839276e-03,NaN,NaN,2278.978091,0,46.581420,2288.829184,4.317133,18.637639,1.054843,0.948008,integration
564,0.178083,45.467687,2.673369,42.870328,5.097102e-03,NaN,5.067792e-03,5.750240e-03,2.930956e-05,NaN,NaN,1949.214683,0,42.942887,1952.513736,-2.495286,6.226450,1.058794,0.944470,integration
229,-3.251645,45.006724,-0.650243,42.534594,3.734165e-03,NaN,3.703122e-03,8.313238e-03,3.104301e-05,NaN,NaN,1914.342737,0,42.614070,1917.919701,-2.601402,6.767293,1.056147,0.946838,integration
493,0.616344,42.095707,2.675000,39.966715,1.731980e-02,NaN,1.699412e-02,1.880387e-02,3.256793e-04,NaN,NaN,1682.427133,0,40.019700,1684.657566,-2.058656,4.238065,1.051875,0.950684,integration
106,0.436693,34.806696,-4.793531,32.871746,1.000000e+00,NaN,9.744082e-01,2.559175e-02,2.559175e-02,NaN,NaN,1144.156872,0,33.285236,1158.549091,5.230224,27.355247,1.045710,0.956288,integration
800,-4.902151,49.526736,0.278125,47.548497,6.460085e-08,NaN,6.170736e-08,4.479023e-02,2.893487e-09,NaN,NaN,2354.921883,0,47.829853,2368.856523,-5.180276,26.835262,1.035477,0.965738,integration
804,0.027605,41.346876,-3.673022,39.715956,9.999192e-01,NaN,9.497730e-01,5.015031e-02,5.014626e-02,NaN,NaN,1642.130700,0,39.887990,1649.243798,3.700627,13.694641,1.036575,0.964716,integration
717,-4.249889,40.500863,0.147286,38.933015,3.753388e-06,NaN,3.403671e-06,9.317368e-02,3.497170e-07,NaN,NaN,1576.820676,0,39.180541,1586.845695,-4.397174,19.335141,1.033698,0.967400,integration
846,3.546796,33.670154,-3.888210,32.462303,1.000000e+00,NaN,8.893558e-01,1.106442e-01,1.106442e-01,NaN,NaN,1093.010731,0,33.302859,1121.312387,7.435006,55.279313,1.011029,0.989091,integration
441,0.559810,40.105678,4.086742,38.793901,1.696822e-04,NaN,1.485769e-04,1.243814e-01,2.110532e-05,NaN,NaN,1555.855677,0,38.953896,1562.272378,-3.526931,12.439245,1.029568,0.971281,integration
987,0.569348,44.273740,-4.102297,43.259166,9.999988e-01,NaN,8.475684e-01,1.524306e-01,1.524304e-01,NaN,NaN,1915.245058,0,43.510685,1926.380745,4.671645,21.824266,1.017537,0.982765,integration
85,-4.372821,40.841927,-0.839616,40.212090,1.867355e-04,NaN,1.275601e-04,3.168941e-01,5.917536e-05,NaN,NaN,1642.339210,0,40.367012,1648.666554,-3.533205,12.483537,1.011765,0.988372,integration
290,-3.362583,44.120854,-1.261379,43.760873,1.744509e-02,NaN,1.086122e-02,3.774054e-01,6.583871e-03,NaN,NaN,1930.767107,0,43.811289,1932.991514,-2.101204,4.415059,1.007066,0.992984,integration
711,-1.814337,38.667961,1.046785,38.254532,2.018458e-03,NaN,1.253914e-03,3.787766e-01,7.645446e-04,NaN,NaN,1479.224763,0,38.361377,1483.356238,-2.861122,8.186021,1.007992,0.992071,integration
478,-1.235939,41.158867,-4.324048,41.137830,9.989905e-01,NaN,5.127703e-01,4.867115e-01,4.862201e-01,NaN,NaN,1693.186467,0,41.253575,1697.950411,3.088109,9.536416,0.997704,1.002301,integration
563,3.340293,46.641776,-1.655492,46.673409,9.999997e-01,NaN,4.916549e-01,5.083450e-01,5.083448e-01,NaN,NaN,2176.930710,0,46.940015,2189.365670,4.995785,24.957865,0.993646,1.006394,integration
203,1.051366,38.429468,-0.999698,38.513183,9.797507e-01,NaN,4.627708e-01,5.276648e-01,5.169799e-01,NaN,NaN,1480.041104,0,38.567760,1482.138478,2.051064,4.206865,0.996414,1.003599,integration
46,0.108889,45.807287,-4.953318,46.398538,9.999997e-01,NaN,2.808086e-01,7.191913e-01,7.191911e-01,NaN,NaN,2125.391169,0,46.673871,2138.003443,5.062207,25.625937,0.981433,1.018918,integration
575,-2.671986,49.123452,2.313561,49.454797,3.465313e-07,NaN,9.720319e-08,7.194966e-01,2.493281e-07,NaN,NaN,2429.390376,0,49.705459,2441.703744,-4.985547,24.855679,0.988291,1.011848,integration
547,0.019296,34.295849,-3.105561,34.972599,9.990071e-01,NaN,2.536557e-01,7.460922e-01,7.453515e-01,NaN,NaN,1199.414961,0,35.111927,1204.193331,3.124857,9.764733,0.976758,1.023795,integration
777,2.913437,31.842333,-4.933437,32.812324,1.000000e+00,NaN,1.698795e-01,8.301205e-01,8.301205e-01,NaN,NaN,1044.820939,0,33.737546,1074.282177,7.846874,61.573427,0.943825,1.059519,integration
126,-3.902653,44.211944,4.424909,2.630028,2.784465e-119,4.191759e-120,4.191734e-120,8.494600e-01,2.365291e-119,8.494591e-01,2.365289e-119,116.278665,0,8.733003,386.103040,-8.327562,69.348292,5.062628,0.197526,integration
603,4.503547,41.448302,0.487890,42.569433,9.999623e-01,NaN,1.336447e-01,8.663503e-01,8.663176e-01,NaN,NaN,1764.430719,0,42.758416,1772.263737,4.015657,16.125500,0.969360,1.031608,integration
404,2.113690,38.541834,0.293513,39.706278,9.635341e-01,NaN,1.205321e-01,8.749062e-01,8.430020e-01,NaN,NaN,1530.352793,0,39.747976,1531.959891,1.820177,3.313045,0.969655,1.031294,integration
763,4.242973,44.566717,-4.694546,46.067864,1.000000e+00,NaN,6.808518e-02,9.319148e-01,9.319148e-01,NaN,NaN,2053.093448,0,46.926829,2091.374726,8.937519,79.879247,0.949707,1.052957,integration
501,-4.744329,43.966860,0.504059,45.298892,1.215181e-07,NaN,6.207299e-09,9.489187e-01,1.153108e-07,NaN,NaN,1991.650063,0,45.601921,2004.973292,-5.248388,27.545574,0.964145,1.037188,integration
888,3.275573,36.637243,-4.027330,38.572885,1.000000e+00,NaN,2.727040e-02,9.727296e-01,9.727296e-01,NaN,NaN,1413.204162,0,39.258118,1438.309218,7.302903,53.332390,0.933240,1.071536,integration
839,-2.122177,37.652465,3.042383,39.355371,2.302644e-07,NaN,4.764710e-09,9.793077e-01,2.254997e-07,NaN,NaN,1481.826731,0,39.692794,1494.531547,-5.164561,26.672685,0.948597,1.054188,integration
967,4.208853,37.771625,0.680865,40.271550,9.996803e-01,NaN,6.434302e-03,9.935636e-01,9.932460e-01,NaN,NaN,1521.121913,0,40.425790,1526.947779,3.527987,12.446694,0.934345,1.070269,integration
820,-3.663732,42.199770,1.642607,44.409497,1.205452e-07,NaN,6.972046e-10,9.942162e-01,1.198480e-07,NaN,NaN,1874.070548,0,44.725392,1887.401227,-5.306339,28.157230,0.943530,1.059849,integration

In [41]:
df_integration.head(10)

,x,alpha,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,relerr_scipy,abs_scipy,da,target,omega,aw,xmu,xmu2,aow,woa,method
6,3.277026,34.100154,-0.956142,46.567891,0.999852,NaN,6.468582e-36,1.000000e+00,9.998524e-01,NaN,NaN,1587.972261,0,46.759899,1594.519776,4.233168,17.919715,0.729261,1.371252,integration
11,0.381433,47.043147,-2.035215,41.898270,0.994769,NaN,9.947685e-01,1.254908e-07,1.248343e-07,NaN,NaN,1971.026478,0,41.967907,1974.302420,2.416648,5.840186,1.120931,0.892115,integration
16,-3.659583,31.104863,-1.134391,40.936226,0.013876,NaN,2.686698e-25,1.000000e+00,1.387588e-02,NaN,NaN,1273.315709,0,41.014036,1275.735996,-2.525192,6.376597,0.758396,1.318573,integration
21,-2.195912,45.058035,-4.669138,47.645054,0.991908,NaN,4.959387e-03,9.950002e-01,9.869489e-01,NaN,NaN,2146.792494,0,47.709202,2149.682906,2.473226,6.116847,0.944431,1.058839,integration
42,0.929410,49.136097,-3.387723,46.380934,0.999995,NaN,9.971562e-01,2.839289e-03,2.839276e-03,NaN,NaN,2278.978091,0,46.581420,2288.829184,4.317133,18.637639,1.054843,0.948008,integration
46,0.108889,45.807287,-4.953318,46.398538,1.000000,NaN,2.808086e-01,7.191913e-01,7.191911e-01,NaN,NaN,2125.391169,0,46.673871,2138.003443,5.062207,25.625937,0.981433,1.018918,integration
50,1.832869,41.352314,4.461633,35.505679,0.002286,NaN,2.285983e-03,4.404997e-09,1.006975e-11,NaN,NaN,1468.241997,0,35.602860,1472.260657,-2.628764,6.910401,1.161489,0.860964,integration
52,-3.083837,41.228642,-1.480444,35.516023,0.042035,NaN,4.203543e-02,6.697067e-09,2.815141e-10,NaN,NaN,1464.277409,0,35.552198,1465.768842,-1.603393,2.570869,1.159665,0.862318,integration
55,-4.184474,36.509588,-1.422757,30.245531,0.001214,NaN,1.214169e-03,4.091603e-10,4.967897e-13,NaN,NaN,1104.251898,0,30.371356,1108.845692,-2.761717,7.627080,1.202106,0.831873,integration
64,3.355692,30.488176,-2.482049,44.835669,0.999999,NaN,6.579828e-47,1.000000e+00,9.999992e-01,NaN,NaN,1366.957764,0,45.214117,1378.495976,5.837742,34.079227,0.674307,1.483005,integration

In [42]:
idx = 0

In [49]:
df_integration[df_integration.index == 820]

,x,alpha,mu,delta,mpmath,scipy,gnp,relerr_gnp,abs_gnp,relerr_scipy,abs_scipy,da,target,omega,aw,xmu,xmu2,aow,woa,method
820,-3.663732,42.19977,1.642607,44.409497,1.205452e-07,NaN,6.972046e-10,0.994216,1.198480e-07,NaN,NaN,1874.070548,0,44.725392,1887.401227,-5.306339,28.15723,0.94353,1.059849,integration

In [ ]:
df_integration.iloc[idx][['mpmath', 'scipy', 'gnp']].values

In [ ]:
x, alpha, mu, delta = df_integration.iloc[idx][['x', 'alpha', 'mu', 'delta']].values

In [50]:
x, alpha, mu, delta = df_integration[df_integration.index == 820][['x', 'alpha', 'mu', 'delta']].values[0]

In [51]:
list(df_integration[df_integration.index == 820][['mpmath', 'scipy', 'gnp']].values[0])

[1.2054522734887021e-07, nan, 6.972045803354884e-10]

In [52]:
mp_result = quad_phi(x, alpha, 0, mu, delta, digits=250)
mp_result

mpf('1.2054522734886939e-7')

In [48]:
for k, v in zip(['x', 'alpha', 'mu', 'delta'], (x, alpha, mu, delta)):
    print(f'double {k} = {v};')

double x = -3.9026533599330326;
double alpha = 44.211944182635655;
double mu = 4.424908823824213;
double delta = 2.63002832061173;

In [ ]:
df[(df['xmu'].abs() > 4) & (df['aw'] > 100)]

In [ ]:
X = df.copy()
y = df['target']

X = X[['xmu2', 'woa', 'aw', 'da', 'alpha']]

In [ ]:
clf = tree.DecisionTreeClassifier(max_depth=2)
clf = clf.fit(X, y)

In [ ]:
clf.score(X, y)

In [ ]:
tree.plot_tree(clf, feature_names=X.columns, filled=True)

In [ ]:
mask_series = (df['alpha'] <= 2.425) & (df['mu'] <= 4.406)
# mask_series = ((X['xmu2'] <= 20) & (X['aow'] <= 0.25)) | ((X['xmu2'] <= 1.25) & (X['aw'] <= 750))
mask_series = (X['xmu2'] >= 70) & (X['woa'] <= 1)

In [ ]:
X.describe()

In [ ]:
df[mask_series].describe()

In [ ]:
df[mask_series][df.loc[mask_series, 'relerr_gnp'].isna()]

In [ ]:
df[X['aw'] > 750].describe()